[2013-05-10 08:55] slodge opened #1 "WindowsPhone template lacks Setup in App.cs constructor"
WindowsPhone app needs a:

[code]

[2013-05-10 08:55] slodge opened #2 "PCL core doesn't seem to have packages.config?"
Generated PCL core project doesn't seem to have packages.config file - but one created by hand using nuget does.

If you have any issues with nuget and PCL then @dsplaisted on jabbr v v nice and v v helpful

[2013-05-10 08:57] slodge opened #3 "WindowsPhone UI would be nicer to bind to MyProperty rather than to Hello"
The WindowsPhone UI would be nicer to bind to MyProperty rather than to Hello

Indeed, you could drop Hello from the core entirely

[2013-05-10 09:00] slodge opened #4 "Snippet installation would be nice"
My current Snippets are installed (manually) in C:\Users\Stuart\Documents\Visual Studio 11\Code Snippets\Visual C#\My Code Snippets

and are:

pmvx.snippet:

[code]

cmvx.snippet:

[code]

Other snippets could be made

[2013-05-10 09:08] slodge opened #5 "New Droid project has no packages.config"
New Droid project has no packages.config

[2013-05-10 09:09] slodge opened #6 "New Droid project has an unused Main.axml"
New Droid project has an unused Main.axml

[2013-05-10 09:10] slodge opened #7 "new Droid project has lots of dll's in a Lib folder"
seems like the mvvmcross dlls are listed as Content in /Lib

[2013-05-10 09:16] slodge opened #8 "Improved FirstView.cs for iOS"
ViewDidLoad could be:

[code]

[2013-05-10 09:17] slodge opened #9 "New finishedLaunching template for iOS"
Coming soon - not with 3.0.5 in Nuget, the finishedlaunching should be:

[code]

Also, I note that there's no XML comment on this one

[2013-05-10 09:19] slodge opened #10 "Remove LoadState and SaveState methods from WinStore projects (View.cs file)"
[code]

[2013-05-10 09:21] slodge opened #11 "Use MyProperty in WinStore project template"
Switch from:

[code]

to:

[code]

[2013-05-10 09:22] slodge opened #12 "Some problem with strong assembly names in the WindowsStore project"
I may live to regret adding these...

Error   6   The type 'Cirrious.MvvmCross.ViewModels.MvxApplication' is defined in an assembly that is not referenced. You must add a reference to assembly 'Cirrious.MvvmCross, Version=1.0.0.0, Culture=neutral, PublicKeyToken=e16445fd9b451819'. C:\Projects2\MvvmCross.Core1\MvvmCross.WindowsStore1\Setup.cs   34  13  MvvmCross.WindowsStore1

[2013-05-10 09:24] slodge opened #13 "Are paths correct for referenced nuget projects?"
e.g when I look at the path for the WindowsStore assemblies it points me to:

[code]

But will this work with nuget?

[2013-05-10 09:25] slodge opened #14 "Use MyProperty in WPF project template"
Same issue as #11 but wpf

For WPF (focus issues) use two text boxes

[code]

[2013-05-10 09:28] slodge opened #15 "Core tests should probably reference nuget packages - including the MvvmCross Test nuget package"
Leave this one with me for now... need to write a few more samples...

[2013-05-10 09:30] slodge opened #16 "Tools - Add Views/ViewModels - bug when multiple VS2012 open"
I haven't tested this functionality much yet...

But when i tried from one VS, then it created a ViewModel in a different one (a background one!)

Will test this more another day....

[2013-05-10 09:36] slodge opened #17 "Longer term - might be nice to have project templates that include BaseViewModel and BaseView"
Almost all my real projects use BaseView and BaseViewModel

I was previously incorporating these into the ideas in: https://github.com/slodge/MvvmCross-Templates

[2013-05-10 09:36] slodge opened #18 "Longer term - might be nice to have options about comments and code style"
I can tell you have both resharper and stylecop installed.

Some of this is just personal taste...

[2013-05-11 03:58] #7 closed, assigned to nobody

[2013-05-11 05:52] asudbury opened #19 "Building projects is slow"
When building the projects in Studio it takes too long.

[2013-05-11 07:07] #19 closed, assigned to asudbury

[2013-05-11 12:24] asudbury opened #20 "MSI Installer Issue"
You have to uninstall the previous version of the MSI before installing a new one - going to need some help on this one - fed up of MSI issues :-(

[2013-05-11 12:32] asudbury opened #21 "Fix Build Process"
Build Process is a mess. I'm making stupid mistakes especially when stressed/tired - these can be sorted by splitting the solution into smaller solutions, setting up pre and post build events.

[2013-05-11 12:32] asudbury opened #22 "Windows Installer has hard coded path references"
The way i have done the Windows Installer has hard coded path references that will make it difficult for anyone else to build the installer (unless they set up their directories the same as me!)

[2013-05-11 12:44] asudbury opened #23 "Support for MvvmCross Plugs"
Create a dynamic way of including MvvmCross plug in.

Current thinking is to load the plugs in fro a config xml file - both local file and a internet http file. Doing it this way means we dont need to update the installer when new plugs come along.

Probably needs more design time than development time.

Sample xml file to date - work in progress,

<pre>
&lt;PlugsIns&gt;
    &lt;PlugIn&gt;

[2013-05-11 15:35] #3 closed, assigned to asudbury

[2013-05-11 15:36] #5 closed, assigned to nobody

[2013-05-11 15:36] #1 closed, assigned to asudbury

[2013-05-11 15:36] #6 closed, assigned to asudbury

[2013-05-11 15:46] #8 closed, assigned to asudbury

[2013-05-11 15:46] #9 closed, assigned to asudbury

[2013-05-11 15:48] #10 closed, assigned to asudbury

[2013-05-11 15:48] #12 closed, assigned to asudbury

[2013-05-11 15:50] #14 closed, assigned to asudbury

[2013-05-11 15:51] #11 closed, assigned to asudbury

[2013-05-11 15:52] #16 closed, assigned to nobody

[2013-05-11 19:07] asudbury opened #24 "ViewModels and Views option is not complete."
Need to pick this up - didn't realize it was so unfinished!

[2013-05-12 10:31] asudbury opened #25 "SubFolder being called View instead of Views"

[2013-05-13 07:17] #24 closed, assigned to asudbury

[2013-05-13 07:17] #25 closed, assigned to asudbury

[2013-05-13 22:07] asudbury opened #26 "Add Converters doesn't work"
Not sure what has happened but adding converters goes horribly wrong :-(

[2013-05-14 18:07] #26 closed, assigned to asudbury

[2013-05-14 18:08] #17 closed, assigned to nobody

[2013-05-14 18:31] slodge opened #27 "Add a readme.md here to tell people to go to your blog :)"

[2013-05-15 07:08] asudbury opened #28 "Consider adding common LinkerPleaseInclude.cs"
I think slodge is going to do this in MvvmCross.

https://github.com/slodge/MvvmCross/issues/236#issuecomment-17914691

[2013-05-15 13:02] slodge opened #29 "Why does iOS trace return a null trace?"
On current tip : https://github.com/asudbury/NinjaCoderForMvvmCross/blob/master/ProjectTemplates/IosTemplate/Setup.cs#L34

[2013-05-15 13:07] slodge opened #30 "iOS project FirstView has a NIB but doesn't?"
I think the constructor needs to be removed from:

https://github.com/asudbury/NinjaCoderForMvvmCross/blob/master/ProjectTemplates/IosTemplate/Views/FirstView.cs#L28

[2013-05-15 17:00] asudbury opened #31 "TraceService needs to be singleton"
Change the static class to a singleton.

[2013-05-16 18:39] #30 closed, assigned to nobody

[2013-05-16 18:41] #29 closed, assigned to nobody

[2013-05-16 19:16] #22 closed, assigned to asudbury

[2013-05-19 10:21] asudbury opened #32 "Build 1.0.4 didnt install the latest templates"
Looks like i didnt rebuild the templates after amending them.

Build process is getting better but still away to go for fully automated!

[2013-05-20 19:44] #20 closed, assigned to asudbury

[2013-05-23 07:24] asudbury opened #33 "Plugin Snippets needs override facility"
Give developers using the addin the ability to override the plugin snippets.

[2013-05-23 14:17] asudbury opened #34 "Missing plugin code snippets"
Currently only have plugin code snippets for:-

Email, File, Json, Network, PhoneCall, ResourceLoader, Share, ThreadUtils and WebBrowser

Missing:-

Accelerometer, Bookmarks, Color, DownloadCache, PictureChooser, ReflectionEx, SoundEffects, Sqlite and Visibility

Couldn't find examples in slodge's sample applications (probably not looking close enough!)

[2013-05-23 20:02] #32 closed, assigned to asudbury

[2013-05-23 20:03] #23 closed, assigned to asudbury

[2013-05-24 05:31] asudbury opened #35 "Missing axml file when adding Droid View"
The Addin doesn't add the relevant axml file when generating a droid view from 'Add ViewModel and Views' option.

[2013-05-24 05:42] asudbury opened #36 "Create User directory support for Converters"
Allow the ability of developers to add converters to their own directory - so the addin will pull these into the 'Add Converters' function.

[2013-05-24 05:43] asudbury opened #37 "Create User directory support for Plugins."
Allow the ability of developers to add plugins to their own directory - so the addin will pull these into the 'Add Plugin' function.

Will need a bit of design for this.

[2013-05-26 11:39] asudbury opened #38 "Plugins not being implemented in selected ViewModel"
I think the sequence of visual studio calls is in the wrong order - I think they remove and sort of using statements is happening too soon!! not sure how this has happened worked ok on my development pc.

[2013-05-27 17:25] #38 closed, assigned to asudbury

[2013-05-27 17:27] #33 closed, assigned to asudbury

[2013-05-28 08:27] asudbury opened #39 "UI Platforms need Error Displayers"
Add in error displayers.

[2013-05-28 17:27] #28 closed, assigned to asudbury

[2013-05-28 18:43] asudbury opened #40 "Update to include v3.0.7"
MvvmCross has been updated to v.3.0.7 - get addin in line.

first test of my prebuild process (process is a strong term - more like a blind panic!)

need to grab the binaries, copy to the relevant lib directories and rebuild ALL project and item templates that reference mvvmcross assemblies :-(

oh - and maybe do some testing too!

i wont rush to get this out - will keep to my schedule of getting

[2013-05-29 17:22] asudbury opened #41 "Create 'Add Service' function"
Looking to add services such as DataService, LocationService, WebService and DropboxService so far on the list.

[2013-06-01 17:43] asudbury opened #42 "Automate Unit Tests"
Do something around automation of unit tests.

[2013-06-01 17:44] asudbury opened #43 "Auto Generate UIs"
Create some fairly simple UI generator based on a few questions.

[2013-06-02 08:26] asudbury opened #44 "Create wrapper for Mvx.Resolve"
Create a non static class called TypeResolverService that implements ITypeResolverService - this will wrap the static Mvx.Resolve method.

This will allow constructor injection of the interface and aid unit testing etc.

maybe candidate for including in core mvvmcross if slodge thinks its of use.

[2013-06-02 10:45] #40 closed, assigned to asudbury

[2013-06-02 10:46] #39 closed, assigned to asudbury

[2013-06-02 10:47] #21 closed, assigned to asudbury

[2013-06-02 18:41] asudbury opened #45 "Certain functions with v.1.1.2 no longer working."
fixed, closed and released.

[2013-06-02 18:42] #45 closed, assigned to nobody

[2013-06-04 06:41] asudbury opened #46 "Generate Readme.txt"
Generate a Readme.txt when performing a function.giving a few words about what has been done and what devs can/should do.

Also ope the Readme.txt upon completion of the function.

[2013-06-05 06:36] asudbury opened #47 "LinkerPleaseInclude needs updating"
Include the latest changes from Mvvmross.

[2013-06-05 17:31] asudbury opened #48 "Adding Plugins formatting needs attention"
Adding plugins to viewmodels need to be looked at - the end result contains extra blank lines after moving using statements, also formatting needs a tweak.

[2013-06-05 17:32] asudbury opened #49 "Add Plugins is far too slow."
I think the amending of the source files is the problem - might need a redesign.

[2013-06-09 14:16] slodge opened #51 "Problems with WinStore - seems to generate a WinPhone?"
I'm building next week's first NDC demo around the Ninja :)

Also trying to record an N+1

The problem I think is:

[code]

from https://github.com/asudbury/NinjaCoderForMvvmCross/blob/master/NinjaCoder.MvvmCross/Constants/ProjectTemplates.cs#L42

I've got a problem with the WinStore template:
- if I generate WinStore from the file|New wizard it seems to be correct
- but if I generate from the Too

[2013-06-10 05:25] #51 closed, assigned to nobody

[2013-06-10 05:25] #47 closed, assigned to asudbury

[2013-06-10 05:26] #46 closed, assigned to asudbury

[2013-06-10 07:52] slodge opened #52 "v1.4 - Cirrious.MvvmCross.Localization needed"
For iOS please explicitly add the Localization assembly. This might actually be a Xam bug but I think Ninja needs to supply a workaround for now.

"C:\Projects2\NPlus1\N-26-Ninja\CatLike.iOS\CatLike.iOS.csproj" (_RemoteBuild target) (1) ->
(_ResolveAssemblies target) ->
  C:\Program Files (x86)\MSBuild\Xamarin\iOS\Xamarin.MonoTouch.Common.targets(68,3): error : Exception while loading assemblies:

[2013-06-10 07:52] slodge opened #53 "v1.4 - iOS template - System.Xml.Serialization"
In a new project created using the iOS template, then System.Xml.Serialization is shown as a missing reference

[2013-06-10 07:54] slodge opened #54 "v1.4 - iOS UIEditField View can't be seen!"
The edit field shows up as Black text on a Black background

Please either:
- add a white background color to the ios view

[code]
- or change the text colo_U_r for the edit field to white

[2013-06-10 07:55] slodge opened #55 "v1.4 - minor - default value for MyProperty text is too long"
Please drop the length of default text down - something like "Ninja MvvmCross" would fit on the screen, but "Hello loooooooooooong text from looooooong Ninja" doesn't - currently especially bad on Android

[2013-06-10 07:57] slodge opened #56 "Would be nice to improve which iPhone platforms are included in which configuration"
Long term (this may be harder!) please see if you change the project platforms and build/deploy in the solution configuration:
- the Any CPU config should include iPhoneSimulator Build and Deploy checked (IMO) - currently it includes iPhone but has Build and Deploy unchecked
- the iPhone simulator config should include the Core project Build checked (IMO) - currently it doesn't check Build for the

[2013-06-10 07:58] slodge opened #57 "v1.4 - problem with ErrorDisplayer templates"
After generation, all of the Errordisplayer templates had `#coreproject#` in them instead of just `Core`

[2013-06-10 07:59] slodge opened #58 "Improved ErrorReporter pattern"
Personally I'm not sure I'd include this in the default templates at all

However, if you want to - they are your templates - then it might be good to include them using an ErrorMessage class sent via the messenger rather than including them using the custom event subscription

[2013-06-10 08:03] slodge opened #59 "Default Command template is not 'best practice'"
The default template you use for commands is:

[code]

This is fine and what I use all over the place.

However, for someone who's heavily into 'best practice' (which I think from the XML and StyleCop approach is what your templates aim at?) then you should use a private field to store the command - especially so it could be used with RaiseCanExecuteChanged

[code]

[2013-06-10 08:06] slodge opened #60 "Unit tests and MS Test Framework - could add some base class and mock helpers"
If using NUnit to test ViewModels, then people can take advantage of the shared project:
- https://github.com/slodge/MvvmCross/tree/v3/Cirrious/Test/Cirrious.MvvmCross.Test.Core
- https://github.com/slodge/MvvmCross-Tutorials/blob/master/Sample%20-%20TwitterSearch/TwitterSearch.Test/MvxTest.cs

If you are encouraging people to use the MS test framework instead of NUnit, then it might be 'nice' to

[2013-06-10 14:12] asudbury opened #61 "Make sure source code checked into github"
Need to be a bit more organized around keeping source code inline with releases.

[2013-06-10 16:53] #61 closed, assigned to asudbury

[2013-06-10 16:53] #59 closed, assigned to nobody

[2013-06-10 16:53] #58 closed, assigned to nobody

[2013-06-10 16:54] #57 closed, assigned to nobody

[2013-06-10 16:54] #55 closed, assigned to nobody

[2013-06-10 16:55] #54 closed, assigned to nobody

[2013-06-10 16:55] #53 closed, assigned to nobody

[2013-06-10 16:55] #52 closed, assigned to nobody

[2013-06-12 08:58] asudbury opened #63 "Allow Creation of Solution Name."
Currently the solution name is the name of the first project.

[2013-06-12 10:46] slodge opened #64 "Put sln file in the root folder"
Is it possible to generate the sln file in the root folder rather than in the pcl core folder?

Thanks

Linked to #63

[2013-06-12 17:28] #63 closed, assigned to nobody

[2013-06-12 17:28] #64 closed, assigned to nobody

[2013-06-13 17:22] asudbury opened #65 "Installer calling Visual Studio twice!"
I need to look at this - this was done to remove the addin completely from studio before installing the new one - This was only an issue when i removed some of the commands but they stayed on the menu as disabled items.

I'm pretty certain it shouldn't be called twice - i've probably got it running in the install and uninstall routines!!

[2013-06-13 17:24] asudbury opened #66 "Old Snippet files not being removed"
I moved the plugin snippets to its own plugin folder - but looks the installer hasn't removed the old ones.

[2013-06-13 18:11] #66 closed, assigned to nobody

[2013-06-13 18:22] #65 closed, assigned to nobody

[2013-06-14 13:19] asudbury opened #67 "Investigate Azure Mobile Services"
PCL version available (I think).

[2013-06-24 14:07] asudbury opened #68 "NUnit Item Template"
Create an NUnit Item Template

[2013-06-24 14:08] asudbury opened #69 "Create Unit Test for 'Addin Plugins'"
Where applicable add Unit Tests for the plugin code added to the view models.

This will be a tick box on the Add Plugins screen which will be selected by default.

[2013-06-27 12:11] #48 closed, assigned to asudbury

[2013-06-27 12:12] #49 closed, assigned to asudbury

[2013-06-28 18:00] #69 closed, assigned to asudbury

[2013-06-28 18:04] #60 closed, assigned to asudbury

[2013-06-28 18:06] #44 closed, assigned to asudbury

[2013-06-28 18:07] #42 closed, assigned to asudbury

[2013-07-06 17:59] #68 closed, assigned to asudbury

[2013-07-06 18:01] #34 closed, assigned to asudbury

[2013-07-07 17:38] asudbury opened #70 "lib folder options"
Make adding the lib folder (and its contents) to the projects optional.

By default do not add lib folder to the projects - but make it changeable on the options screen (so anal people like me can still add them)

[2013-07-07 17:42] asudbury opened #71 "Nuget integration"
I feel its time to look at Nuget integration again. Might need to look at the current nuget packages.

This will be an option as well as the disconnected model - again make it configurable via the options screen.

[2013-07-08 18:45] asudbury opened #72 "Get VStudio to see updates to addin available"
Reading a few articles on the interweb it appears It is possible to get VStudio to prompt the developer than an update to the addin is available.

I think the official MS documentation says you cant do this for an MSI only a VSIX - it appears people are finding solutions to this.

https://go4answers.webhost4life.com/Example/include-vsix-file-msi-installer-5055.aspx

[2013-07-09 19:33] asudbury opened #73 "Bug in Test Project"
Base Class initialization doesn't work

[2013-07-12 17:42] #73 closed, assigned to asudbury

[2013-07-12 17:42] #70 closed, assigned to asudbury

[2013-07-12 17:43] #31 closed, assigned to asudbury

[2013-07-13 13:56] asudbury opened #74 "Update to include Mvx v3.0.9"
Upgrade the Mvx binaries

[2013-07-15 19:10] #74 closed, assigned to asudbury

[2013-07-23 16:30] asudbury opened #75 "MvvmCross v 3.0.10"
Need to update to now support MvvmCross v3.0.10.

I'm not going to rush to support this as its only minor changes.

Will come as part of Ninja 2.0 which will have Nuget support.

I am aiming for end of August/beginning of September for version 2.0  -  Visual Studio and Nuget support for the Ninja is proving challenging :-) The way Microsoft want you to reference Nuget (hard coded version) is not t

[2013-08-21 21:21] larsdecker opened #76 "MvvMCross Network-Plugin Integration seems to be broken..."
I want to create a Portable Class Library for Android, IOS and Windows. I can create the structure using the Ninja Coder MVVM extension. That works very well. But if I want to integrate some plugins like the network plugin, the compiler does not find the correct references.

"Cirrious.MvvmCross.Localization" does not seem to exist. The Assistance seems to work correctly, but the references is brok

[2013-08-28 08:17] asudbury opened #77 "MvvmCross v3.0.11 support"
update to v3.0.11 of MvvmCross.

[2013-08-28 08:18] asudbury opened #78 "LinkerInclude Please fix for Droid"
https://github.com/slodge/MvvmCross/issues/391

[2013-08-28 08:19] asudbury opened #79 "LinkerInclude fix for iOS"
https://github.com/slodge/MvvmCross/issues/379

[2013-09-05 18:08] #79 closed, assigned to asudbury

[2013-09-05 18:08] #78 closed, assigned to asudbury

[2013-09-05 18:08] #75 closed, assigned to asudbury

[2013-09-05 18:09] #71 closed, assigned to asudbury

[2013-09-05 18:09] #2 closed, assigned to nobody

[2013-09-05 18:10] #13 closed, assigned to nobody

[2013-09-05 18:11] #18 closed, assigned to nobody

[2013-09-05 18:13] #15 closed, assigned to nobody

[2013-09-06 13:54] asudbury opened #80 "View Model Navigation"
Provide optional options when selecting 'Add ViewModel and Views' to select which ViewModel this will be initiated from and which viewModel will be navigated to.

[2013-10-09 10:36] asudbury opened #81 "MvvmCross v3.0.13 support"
Update Ninja to latest binaries.

[2013-10-09 10:37] asudbury opened #82 "Provide link to Wiki Page for Plugins"
On the Add Plugins form add link to the Wiki Page for plugins

https://github.com/MvvmCross/MvvmCross/wiki/MvvmCross-plugins#existing-mvvmcross-plugins

[2013-10-09 10:39] asudbury opened #83 "New plugin MvvmCross.UserInteraction.Plugin"
add support for UserInteraction plugin.

[2013-10-09 10:39] asudbury opened #84 "New plugin MvvmCross.Plugins.Settings"
Add MvvmCross.Plugins.Settings plugin support.

[2013-10-09 18:09] asudbury opened #85 "Improve performance of adding Plugins"
I'm sure I've been here before - but lets look again at performance of adding plugins.

[2013-10-09 18:39] #82 closed, assigned to asudbury

[2013-10-09 18:39] #81 closed, assigned to asudbury

[2013-10-09 18:40] #80 closed, assigned to asudbury

[2013-10-09 18:40] #77 closed, assigned to asudbury

[2013-10-09 19:27] slodge opened #86 "Problem during install"
![forninha](https://f.cloud.github.com/assets/533662/1300864/41c205d6-3119-11e3-9cbe-28a6d400d3c3.png)
No idea what happened - but during the first part of install (where it removes the existing one) I got this error message

I clicked "Yes" to rename the plugin, then VS said it couldn't rename it... then the install succeeded anyway :)

[2013-10-09 19:49] slodge opened #87 "nuget option causes crash - packages missing"
I tried a new solution with nuget option added. Obviously I tick all the boxes for all the projects :)

I hit several problems - I wasn't really sure if I'd done some steps wrong or if the problems were genuine issues.

During the restore part of nuget, VS2012 crashes - it's done this twice in a row on two new solutions.

If it gives you any clue about where the crash is happening, in the resultin

[2013-10-11 07:00] asudbury opened #88 "Replace SQlite plugin with the community version"
Use Community SQLite-Net Plugin instead of MvvmCross.HotTuna.Plugin.Sqlite.

[2013-10-11 16:48] #87 closed, assigned to asudbury

[2013-10-11 16:49] asudbury opened #90 "iOS assembly name inssue"
The iOS project seemed to have an issue because the generated assembly name was called "Life.iOS.exe" - but it needs to be "LifeiOS.exe" - MonoTouch used to sort this out on it's own so not sure why it's complaining now...

[2013-10-11 16:49] asudbury opened #91 "ios7 view enhancement"
The iOS FirstView (or BaseView) could do with having this iOS7 hack included - http://slodge.blogspot.co.uk/2013/10/ios7-i-seem-to-be-using-this-code-lot.html

[2013-10-11 16:50] asudbury opened #92 "ioS references invalid"
The iOS project seemed to contain a bad reference to a wrong System.Windows - and maybe System.Net too - the old way was like:

[code]

the new way is just like:

[code]

Hopefully this should be clearer when/if/as Xamarin release PCL ;)

[2013-10-11 16:50] asudbury opened #93 "Droid App name"
(Minor) The Droid project could do with a name other than "Your App Name"

[2013-10-12 13:15] asudbury opened #94 "Windows Phone project template contains invalid file"
The Windows phone project template contains a nugget packages.config file (template must have been rebuilt during nugget development)

[2013-10-18 18:50] asudbury opened #95 "GitHub"
Split out the single ninja repo into 3

add in (this one), templates and installer.

[2013-10-22 15:58] asudbury opened #96 "Framework and plugins"
Some of the community plugins are using different frameworks and aren't compatible with the ninja PCL template.

Some community projects are targeting Windows Phone 8 where Ninja PCL template targets Windows Phone 7.5.

The community plugins that are targeting Windows Phone 8 are using async and task which I'm guessing isn't supported in Windows Phone 7.5.

Where the plugin doesn't need Windows Ph

[2013-10-22 15:59] asudbury opened #97 "Community plugins and nuget"
Some of the community plugins aren't on nuget.

Short term will handle this by falling back to local machine copies.

[2013-10-23 15:51] asudbury opened #98 "vs2013 support"

[2013-10-25 19:27] asudbury opened #99 "Add various plugins"
the following will be added!

FieldBinding
JsonLocalisation
MethodBinding
AppId
Bitmap
Connectivity
FaceTime
SimpleWebToken
SMS
Vibrate

[2013-10-26 16:19] #99 closed, assigned to asudbury

[2013-10-26 16:19] #97 closed, assigned to asudbury

[2013-10-26 16:20] #96 closed, assigned to asudbury

[2013-10-26 16:20] #88 closed, assigned to asudbury

[2013-10-26 16:20] #84 closed, assigned to asudbury

[2013-10-26 16:20] #83 closed, assigned to asudbury

[2013-10-26 16:21] #85 closed, assigned to asudbury

[2013-10-26 16:23] #94 closed, assigned to asudbury

[2013-10-26 16:25] #92 closed, assigned to asudbury

[2013-10-27 18:04] CreepyGnome opened #100 "Feature Request: Option for MSTest or NUnit for Test Projects"
I know from reading your blogs that you switched from MSTest to NUnit a while back due to requests. However you also have become a fan of providing more options, and I am a big fan with developer tools providing as many options as possible.

So I would request that you provide a Unit Test section in your options and offer a choice of NUnit or MSTest to the developer, defaulting to NUnit.

To go al

[2013-11-02 16:41] asudbury opened #101 "Support for MvvmCross v3.0.14"

[2013-11-02 16:41] asudbury opened #102 "Wpf Thread Utils needs adding to installation"

[2013-11-02 16:42] asudbury opened #103 "Android LinkerPleaseInclude additions."

[2013-11-07 17:24] #95 closed, assigned to asudbury

[2013-11-12 19:31] asudbury opened #104 "Missing code snippets"
Several of the plugins don't have the associated code snippets.

Color
DownloadCache
FieldBinding
JsonLocation
Location
MethodBinding
Visiblity

[2013-11-14 06:52] asudbury opened #105 "Change build action"
Change the build action to none for the 'lib' folder files that contains the referenced assemblies.

http://stackoverflow.com/questions/145752/what-are-the-various-build-action-settings-in-vs-net-project-properties-and-wh

[2013-11-14 16:28] asudbury opened #106 "Support pre-release nuget packages"

[2013-11-16 17:55] asudbury opened #107 "Support for MvvmCross v3.1"
Don't think there is too much for me to do.

Core project template will need match the profile (78 or 158)

I may miss out supporting 3.0.14 if  v3.1 happens in the next 14 days.

I think moving the new profile will be a great step forward.

[2013-11-22 17:44] asudbury opened #108 "Xamarin IOS v.1.8 support"
Since upgrading to Xamarin iOS 1.8 now getting the following errors from the Ninja iOS template:-

Application Name is not set in iOS Application Property Page
Identifier is not set in iOS Application Property Page

[2013-11-22 18:20] asudbury opened #109 "Upgrade Windows Phone project."
upgrade windows phone project to v8.

[2013-11-22 19:08] asudbury opened #110 "Upgrade Core project"
Upgrade core project to profile 158

[2013-11-26 19:44] asudbury opened #111 "Language Support"
Support different languages in the UI apart from English.

[2013-12-03 08:04] geirsagberg opened #112 "Android: SplashScreen.cs needs NoHistory = true"
Problem with Android app if set to `LaunchMode.SingleTop`:
1. Open App
2. Press back

Expected: App closes
Actual: Splash screen shows for a split second, then app opens again.

The problem seems to be that the splash screen is on the back stack and automatically opens the FirstView. To avoid this, add `[Activity(..., NoHistory = true)]`.

[2013-12-07 18:08] asudbury opened #113 "Update Community plugins"
New Httpclient plugin and an update to UserInteraction plugin - both need adding/updating.

[2013-12-16 19:28] #101 closed, assigned to asudbury

[2013-12-16 19:31] asudbury opened #114 "Refresh the UI of the Ninja"
Move the UI code to WPF - which will allow themes and easier language support.

[2013-12-16 19:34] asudbury opened #115 "Create different view types"
Having tried to eat my own dog food - I found it didn't do what I wanted and the main problem was I didn't want the SampleDataView and SampleDataViewModel,

Create different view types -

BlankView
SampleDataView
WebView

More to follow

[2013-12-31 13:23] asudbury opened #116 "Fast App switching for Windows Phone 8"
see great article for explanation

http://www.codecoding.com/fast-app-switching-and-mvvmcross-how-to-make-it-work/

[2014-02-17 19:09] #114 closed, assigned to asudbury

[2014-02-17 19:09] #112 closed, assigned to asudbury

[2014-02-17 19:10] #110 closed, assigned to asudbury

[2014-02-17 19:10] #109 closed, assigned to asudbury

[2014-02-17 19:10] #108 closed, assigned to asudbury

[2014-02-17 19:10] #107 closed, assigned to asudbury

[2014-02-17 19:10] #106 closed, assigned to asudbury

[2014-02-17 19:11] #103 closed, assigned to asudbury

[2014-02-17 19:12] #100 closed, assigned to nobody

[2014-02-17 19:12] #98 closed, assigned to asudbury

[2014-02-17 19:12] #93 closed, assigned to asudbury

[2014-02-17 19:13] #91 closed, assigned to asudbury

[2014-02-17 19:14] #72 closed, assigned to asudbury

[2014-02-17 19:15] #35 closed, assigned to asudbury

[2014-02-17 19:16] #105 closed, assigned to asudbury

[2014-02-17 19:16] #113 closed, assigned to asudbury

[2014-02-17 19:17] #37 closed, assigned to asudbury

[2014-02-17 19:18] #102 closed, assigned to asudbury

[2014-02-20 21:58] DanRigby opened #117 "Setup.cs files set with a Build Action of "None" in 3.0.1 application templates"
This causes them not to be compiled and generates a run-time error on start up for the application as MvvmCross can't find an instance of Setup.

[2014-02-22 20:29] #117 closed, assigned to nobody

[2014-02-23 20:34] SharbelWired opened #118 "VS2013 -> Droid -> Setup.cs has no build action"
When you add a droid project with the add-in, the Setup.cs file does not have  a build action.  I need to manually set it to compile.

[2014-02-24 19:43] #118 closed, assigned to nobody

[2014-03-06 17:40] rmarinho opened #119 "Missing reference to"
Hi, i have created a new project using the tools and i started a simple project with Core, and Windows Phone, i have a line in the Setup.cs that can be resolved:

FastApplicationSwitchingService.Initialize();

Should i implement this service ? If so, it should be explicit in the release notes.

If i comment this line, the project builds , but it suspends automatically.. what am i missing ?

[2014-03-18 22:47] curelom opened #120 "Ninja gets confused if more than one core project exists in a solution"
Would be nice to be able to selet which core project to use.

[2014-03-21 12:18] benhysell opened #121 "Creating New Android Project Fails While Adding Views"
While trying to create a new project vs2013 hangs while attempting to add Views to the Android project.

MvvmCross.Droid.View.SampleData.zip, trying to add FirstView.cs In ProjectExtensions.cs/AddToFolderFromTemplate/projectItems.AddFromTemplate()

Happens with SampleData and BlankData.

[2014-03-21 12:22] benhysell opened #122 "Uninstall Leaves Menu Item Behind"
Uninstalling from the Control Panel will uninstall NinjaCoder, however the menu item is still left behind in vs2013.

![screen shot 2014-03-21 at 8 20 58 am](https://f.cloud.github.com/assets/1711776/2482760/601c0dec-b0f3-11e3-9dfc-43b40ed1c17d.png)

[2014-03-21 14:22] #121 closed, assigned to nobody

[2014-03-27 16:22] Oberheim opened #123 "Unable to change project path when adding a new project"
Hi.

The Project path option is greyed out when adding new Projects. I am unable to find any setting for this and have tried reinstalling (hoping to be able to change the default Project path) I am using version 3.0.2 and MVVMCross v. 3.1.1

[2014-04-03 19:30] #123 closed, assigned to nobody

[2014-04-03 19:31] #119 closed, assigned to nobody

[2014-04-03 19:32] #116 closed, assigned to asudbury

[2014-04-04 13:57] ghost opened #124 "All menue items except "Add Project" are disabled"
I don´t know what I have done, but suddenly the menue items from the ninja coder are disabled.
I uninstalled the plugin and reinstall it, but nothing changes.
After uninstalling the menue is still there. I tried to find something in the registry, but it doesn´t help.

What can I do?

Thanks for any help...
Frank

[2014-04-08 07:58] Aidenir opened #125 "Windows Phone project template"
In the template the build action for App.xaml and App.xaml.cs are set to none which makes the app not run anything on startup. Setting action for .xaml to ApplicationDefenition and action for .xaml.cs to compile fixes this.

[2014-04-14 18:02] #125 closed, assigned to nobody

[2014-05-07 08:35] saxos1983 opened #126 "Startup object is not set in WIndows Phone Project File (Ninja 3.0.4)"
If I create a new Core and Windows Phone 8 mobile project, the StartUp object is not set (or simply wrong) in the Windows Phone csproj Project File.
It contains the following entry:
<SilverlightAppEntry>WindowsPhoneTemplate.App</SilverlightAppEntry>

The app crashes immediately after starting up in the emulator without any useful debug information.

Workaround:
Either set the correct startup objec

[2014-05-15 03:37] CliffCawley opened #127 "Add ViewModel and Views not adding to Core or Tests - 3.0.4"
I was previously using 3.0.2 and everything was fine.

I just upgraded to 3.0.4 and now when I use the Add ViewModel and Views and tick iOS and Droid, tick Create ViewModel unit tests file and click ok it only creates the ios and droid files but no longer creates Tests or Core.

I've included the log below. 15th May is from 3.0.4 and 14th May is from 3.0.2

Here's what the NinjaReadme.txt said:

-

[2014-05-15 16:42] #126 closed, assigned to nobody

[2014-05-20 16:28] #127 closed, assigned to nobody

[2014-05-20 19:08] tsahi opened #128 "Custom project names"
It would be nice if I could, during project creation or in the settings, to change the names of the projects ninja creates. e.g. I don't like the name .Droid, and would rather my Android project be named .Android

[2014-05-21 19:42] #86 closed, assigned to nobody

[2014-05-21 19:42] #27 closed, assigned to nobody

[2014-05-21 19:43] #76 closed, assigned to nobody

[2014-05-21 19:43] #104 closed, assigned to asudbury

[2014-05-21 19:44] #115 closed, assigned to asudbury

[2014-05-23 12:00] ian-cowley opened #129 "The system cannot find the file specified. templateName=MvvmCross.Core.zip"
I've installed 3.0.7 in Visual Studio 2013
selected Tools - Ninja Coder.. - Add Projects...
But it cannot find MvvmCross.Core.zip or any other of the templates.
Where do the files need to exist, as the log does not give the path it's looking for them

22 May 14 12:10:24 014 --------------------------------------------------------
22 May 14 12:10:24 014 ProjectsController::Run
22 May 14 12:10:24 01

[2014-06-23 14:49] lothrop opened #130 "axml as AndroidResource"
When setting up a completely new project, my FirstView.axml ends up as BundleResource. I have to manually switch it to AndroidResource for it to compile.

[2014-06-24 05:39] asudbury opened #131 "Support for Xamarin.Forms"

[2014-07-31 17:20] benhysell opened #132 "Windows Phone Generated Project Code App.xaml.cs only Allows Code to Run When Debugger is Attached"
From App.xaml.cs

[code]

Having

[code]

Inside the `if (System.Diagnostics.Debugger.IsAttached)` means the application can only run when debugger is attached.  It took me a while to find this in, what I believe is the generated code via the plugin.

Issue is solved if those two lines are moved outside the If statement.

[2014-10-25 17:30] #132 closed, assigned to nobody

[2014-10-25 17:31] #43 closed, assigned to asudbury

[2014-10-25 17:32] #36 closed, assigned to asudbury

[2014-10-25 17:33] #111 closed, assigned to asudbury

[2014-10-25 17:45] #130 closed, assigned to nobody

[2014-10-25 17:46] #124 closed, assigned to nobody

[2014-10-25 17:51] asudbury opened #134 "Support Bare bones setup"
Allows users to use the Ninja to setup a simple solution with the required projects (No MvvmCross or Xamarin Forms)

[2014-11-04 20:43] powerdude opened #135 "VS freezes"
Hello,

I just installed NinjaCoder and was trying to create a project.  I selected everything but iOS and VS just locks up after creating Core, Core.Tests and Droid.

cliff

[2014-11-04 20:57] powerdude opened #136 "Path default should be more solution directory"
Hello,

When adding new projects to a solution, the default path should probably be the path of the solution file instead of using VS project path.  The context is the solution.

thanks

cliff

[2014-11-22 07:23] asudbury opened #138 "Microsoft.Net.Http Issue"
Notes from Kerry:-

One more thing: When choosing to install Microsoft.Net.Http it is only installed in the PCL. That generally makes sense for most of the Nuget libraries but not for this one (http://motzcod.es/post/78863496592/portable-class-libraries-httpclient-so-happy).
I'm not really sure if this should even be considered in Ninja Coder but I thought I'd let you know since I was very frustra

[2014-11-22 07:30] #138 closed, assigned to asudbury

[2014-11-25 16:16] asudbury opened #139 "Support iOS unified apps (64bit)"

[2014-11-25 16:16] asudbury opened #140 "Support pre release version of MvvmCross nuget packages"

[2014-11-25 16:16] asudbury opened #141 "Support pre release version of Xamarin Forms nuget packages"

[2014-11-25 16:17] asudbury opened #142 "Support Xamarin Forms Labs and plugins"

[2014-11-25 16:17] asudbury opened #143 "Support PCL nuget packages"

[2014-11-25 16:19] asudbury opened #144 "Load list of plugins from github xml file"

[2014-11-25 16:20] asudbury opened #145 "Load list of nuget packages from github xml file"

[2014-11-25 16:20] asudbury opened #146 "Load list of xamarin forms labs nuget packages from github xml file"

[2014-12-10 16:43] asudbury opened #147 "Version 3.2.0 Release"
I'm ready to release 3.2.0

Ideally i would like someone to quickly test that version 3.2.0 doesn't break anything (major).

The new functionality contains:-

iOS unified support (you will need to change it in options for now to use it)

First release of Xamarin Forms support

Ability to use pre-release nuget packages for both MvvmCross and Xamarin Forms

Improved 'Add Projects wizard'

If someone

[2014-12-26 17:03] asudbury opened #150 "Profile 259"
Switch to Profile 259 to support Windows Phone 8.1

[2015-01-05 18:35] asudbury commented on #150
Implemented in version 3.2.0.

[2015-01-05 18:35] #150 closed

[2015-01-05 18:36] asudbury commented on #147
Implemented in version 3.2.0.

[2015-01-05 18:36] #147 closed

[2015-01-05 18:36] asudbury commented on #146
Implemented in version 3.2.0.

[2015-01-05 18:36] #146 closed

[2015-01-05 18:36] asudbury commented on #145
Implemented in version 3.2.0.

[2015-01-05 18:36] #145 closed

[2015-01-05 18:36] asudbury commented on #144
Implemented in version 3.2.0.

[2015-01-05 18:36] #144 closed

[2015-01-05 18:37] asudbury commented on #143
Implemented in version 3.2.0.

[2015-01-05 18:37] #143 closed

[2015-01-05 18:37] asudbury commented on #142
Implemented in version 3.2.0.

[2015-01-05 18:37] #142 closed

[2015-01-05 18:37] asudbury commented on #141
Implemented in version 3.2.0.

[2015-01-05 18:37] #141 closed

[2015-01-05 18:37] asudbury commented on #140
Implemented in version 3.2.0.

[2015-01-05 18:37] #140 closed

[2015-01-05 18:38] asudbury commented on #139
Implemented in version 3.2.0.

[2015-01-05 18:38] #139 closed

[2015-01-05 18:38] asudbury commented on #134
Implemented in version 3.2.0.

[2015-01-05 18:38] #134 closed

[2015-01-05 18:38] asudbury commented on #131
Implemented in version 3.2.0.

[2015-01-05 18:38] #131 closed

[2015-01-05 19:06] asudbury commented on #136
Cliff can you tell me if this is still an issue with the latest release?

[2015-01-05 19:07] asudbury commented on #135
Cliff can you tell me if this is still an issue with the latest release.

[2015-01-07 22:36] mbelfer opened #153 "3.2.0 error - could not load core assembly or one of the dependencies"
newly generated projects using latest 3.2.0 crushing when attempting to run on IOS but work fine on Android.
The exception error is happening during call to LoadFromXaml(view) and saying "could not load core assembly or one of the dependencies for core dll" which is part of the same solution.

Here is the video of the problem:
https://dl.dropboxusercontent.com/u/96783283/ShareX/2015/01/2015-01-06_

[2015-01-07 22:48] asudbury commented on #153
Unfortunately my MacBookAir is not working at the moment - promise to get it working at the weekend!!!

Even then I struggle to get it working as a build host from visual studio :-(

ill be honest the last few/several internal builds I have tested against android and windows phone and not iOS! whoops!!

I find the whole iOS simulator from visual studio thing frustrating!!!

I'm thinking its someth

[2015-01-07 23:17] mbelfer commented on #153
adrian,

what would you like me to try? Some Xamarin.Forms xaml program that was created without ninja tool?
if that is the case - all works good. I been using previous versions of Ninja tool for a while now and never had any problems as well as with Xamarin.Forms using xaml that were created with VS.NET 2013

[2015-01-07 23:27] lothrop commented on #153
I can reproduce and can confirm that http://codeworks.it/blog/?p=242 fixes it. Any ideas for a more elegant solution?

[2015-01-07 23:38] asudbury commented on #153
brilliant work Kerry (again).

looks like I can fix with an update to the nuget package (i hope!) rather than an update to the ninja installer.

will take a look tomorrow.

thanks again.

[2015-01-08 00:20] mbelfer commented on #153
in my case xamarin.Behaviors was not part of the error, so it could be some other xamarin dll.
anyway, i tried the workaround and the problem is still there (unless I am interpreting workaround wrong)

[2015-01-08 07:09] lothrop commented on #153
Sorry, I didn't mean the exact workaround for Xamarin.Forms.Behaviors. I meant referencing something from the Core assembly in the iOS assembly, e.g., creating an instance of a ViewModel in `Main()`.

[2015-01-08 08:06] asudbury commented on #153
I could just create an an Init method in the core module and the do core.Init() from the iOS FinishedLaunching method - would this work?

[2015-01-08 17:03] mbelfer commented on #153
that worked for me ;~)

[2015-01-08 17:58] lothrop commented on #153
Sounds good. I wish it weren't necessary.

[2015-01-08 18:52] asudbury commented on #153
I have updated the relevant nuget packages - could someone do a quick test for me (as my MBA is broke!) - then I can close this issue and move on to v3.3.0.

thanks for your help @lothrop and @mbelfer - this shouldn't have happened :-(

[2015-01-08 21:55] lothrop commented on #153
I tried testing with Xamarin.Forms and Unified API/prelease packages. I think you should be able to reproduce these errors even without a Mac:

Install-Package Scorchio.NinjaCoder.Xamarin.Forms.Core -FileConflictAction ignore -ProjectName FormsTest4.Core
Install-Package Moq -FileConflictAction ignore -ProjectName FormsTest4.Core.Tests
Install-Package Scorchio.NinjaCoder.NUnit.Tests -FileConflictAc

[2015-01-08 21:58] asudbury commented on #153
I don’t think that is a ninja issue.

I have only updated 3 nuget packages.

I get similar errors from time to time. Try restating visual studio.

Adrian.

From: Kerry W. Lothrop [mailto:notifications@github.com]
Sent: 08 January 2015 21:55
To: asudbury/NinjaCoderForMvvmCross
Cc: asudbury
Subject: Re: [NinjaCoderForMvvmCross] 3.2.0 error - could not load core assembly or one of the dependencies (#

[2015-01-08 22:10] mbelfer commented on #153
i just tried and newly generated project works fine for me but only after VS.NET restart just as you suggested. Had the same 3 nuget issues on a first run.
So it seems like it is fixed now.

[2015-01-08 22:20] mbelfer commented on #153
hmmm....

ok, here is what i see

it works fine fresh after restarting vs.net but the second time it would not and the only way to get it working again is to restart vs.net

[2015-01-09 07:52] lothrop commented on #153
Strange behavior. I'm having it, too.

I noticed one more thing: The iOS version needs to be set to at least 5.1.1 for Unified API projects. I've updated the Info.plist and issued a change request.

[2015-01-09 07:59] asudbury commented on #153
I believe this is a known nuget issue

https://nuget.codeplex.com/workitem/3996

[2015-01-09 08:01] asudbury commented on #153
might be worth moving the nuget (and resharper?) issue you are having to a new github issue - and close this one as the subject matter I believe is now fixed.

[2015-01-09 19:06] asudbury opened #154 "Update minimum supported OS Version to iOS 6"

[2015-01-10 07:38] asudbury commented on #154
Released in version 3.2.1

[2015-01-10 07:38] #154 closed

[2015-01-10 07:39] asudbury commented on #153
This is item has now been fixed.

[2015-01-10 07:39] #153 closed

[2015-01-10 07:39] asudbury commented on #90
Closing as no one has complained about this.

[2015-01-10 07:39] #90 closed

[2015-01-17 18:33] asudbury opened #155 "iOS Classic Support to be dropped"
Now MvvmCross 3.5 is public and Xamarin Forms also supports iOS Unified API - drop iOS classic support.

[2015-01-23 19:09] asudbury opened #156 "Android project template update"
Android App Project set to TargetFramework 21, Minimum 15, Compile 21.

http://forums.xamarin.com/discussion/31273/xamarin-forms-1-3-2-pre1-released

This template is not used by MvvmCross - I would like to move MvvmCross to this template though - would this cause a problem with new settings?

[2015-01-23 21:05] asudbury commented on #156
in version 3.3.0

[2015-01-23 21:05] #156 closed

[2015-01-23 21:05] asudbury commented on #155
Dropped in version 3.3.0

[2015-01-23 21:05] #155 closed

[2015-01-24 19:01] asudbury opened #157 "MvvmCross and Xamarin Forms in the same solution"
Allow MvvmCross and Xamarin Forms to work in the same solution.

[2015-01-24 19:04] asudbury commented on #157
All the code is written - have tested on Android and appears to work - my iOS setup and WindowsPhone emulator don't seem to want to work at the moment so asking for help :-(

[2015-02-03 19:40] kreuzhofer opened #158 "Windows Phone Xamarin Forms App not launching first page"
Hi,

when generating a project for Xamarin Forms with the Ninja Coder, the Windows Phone Application is stuck at the loading screen. Nothing happens and the first page ist not loading. I guess this has to do something with the RootFrame.Navigating event, that cancels the navigation. I am not sure how to fix this. Anyone else discovering the same issue?

Regards
Daniel

[2015-02-04 10:35] kreuzhofer commented on #158
I think the current installation package for Visual Studio is broken. It does not contain the latest project templates. This might be the main reason for the problems.

[2015-02-04 10:45] kreuzhofer commented on #157
If you like, I would support you in testing on iOS and WindowsPhone as I have some problems on WP with 3.3.0 as posted on the visualstudiogallery page.

[2015-02-04 13:39] asudbury commented on #157
Contact me via Twitter and we can sort things #asudbury

Sent from my iPhone

[2015-02-04 16:34] asudbury commented on #158
Hi,

if you send me the readme it generates it will give me some idea of what templates it is using and i take it from there.

[2015-02-04 16:49] asudbury commented on #157
This installer below is version 3.3.1 which will be 3.4.0 we it goes public

https://dl.dropboxusercontent.com/u/3181019/NinjaCoderForMvxXamarinFormsInstaller.msi

Contains MvvmCross and Xamarin Forms integration - i believe it all works its just i can test you can view a Xamarin Forms page from a MvvmCross View model for WinPhone and IOS

Let me know if you want more info.

[2015-02-12 18:59] asudbury commented on #157
Plan to push this public in the next few days and put on my tin hat :-)

I have other activities that need my time and from the lack of responses i'm not convinced too many people want this feature - which i'm a bit surprised by - quite a lot of effort when into this feature - you live and learn i guess!

[2015-02-13 10:50] Michael-DST commented on #157
First off... thank you for being so active/progressive and embracing these technologies. :)

I just tried adding NinjaCoder Xamarin.Forms project and it just created an empty project.  Expected?

[2015-02-13 10:51] Michael-DST commented on #157
Also, when I Tools -> Add Projects, MvvmCross and Xamarin.Forms is greyed/locked out.  That is, I cannot select it.  MvvmCross is selected.

https://www.dropbox.com/s/cdxce0ev35ox6al/Screenshot%202015-02-13%2005.51.29.png?dl=0

[2015-02-13 10:52] Michael-DST opened #159 "xUnit Support Please!"
Cannot believe this is not in there. :)  Please provide xUnit support, along with AutoFixture if possible.

[2015-02-13 11:03] Michael-DST opened #160 "NinajCoder.NUnit1"
Nuff said. :P

[2015-02-13 11:20] slodge commented on #159
Can't believe you haven't contributed it yet!

![image](https://cloud.githubusercontent.com/assets/533662/6186521/45fd4534-b372-11e4-8eac-0383316d614a.png)

[2015-02-13 11:22] Michael-DST commented on #159
LOL!!!  Of course, what am I thinking!!! #durp

[2015-02-13 11:30] slodge commented on #160
Hi @Michael-DST

I'm not a contributor to or maintainer of this repo, but I do use the output and I am interested in using new stuff within it in the future.

Please excuse my ignorance, but I'm not really sure what `NinajCoder.NUnit1` means. I searched for "NUnit1", but sadly neither Google nor Bing could help... I guess you're busy and that this is really obvious stuff, but if you have time coul

[2015-02-13 11:32] Michael-DST commented on #160
:)

https://www.dropbox.com/s/lyn1ohu6v1pr7ih/Screenshot%202015-02-13%2006.31.51.png?dl=0

:)

[2015-02-13 11:33] Michael-DST commented on #160
Guess I should be contributing to this one, too, huh! :)

[2015-02-13 14:43] Michael-DST commented on #160
Well, I found one, but it is not what is causing this issue.  T

After a (wholebuncha) hunting, I found the build settings that points to a template build file:
https://github.com/asudbury/Ninja4MvxInstaller/blob/master/Global.wxi

There's a directory that is used for the project templates:
B:\Scorchio\Projects\c#\Ninja\NinjaCodeMvvmCrossTemplates

And my guess is that is where the .zip file that

[2015-02-13 20:18] asudbury commented on #160
Hi @Michael-DST

I'm not sure what you are saying the problem is here.

To start the ninja you need to go to Tools | Ninja Coder for MvvmCross

[2015-02-13 20:21] Michael-DST commented on #160
Thank you @asudbury for the reply... is that to start the ninja or the ninaj? :)  To be sure here, the issue is a typo. :)

Do you see it in this screenshot?
https://www.dropbox.com/s/lyn1ohu6v1pr7ih/Screenshot%202015-02-13%2006.31.51.png?dl=0

[2015-02-13 20:24] asudbury commented on #159
Why cant you believe its not in there?

[2015-02-13 20:25] asudbury commented on #160
to be honest typos are the laest of my worries!

[2015-02-13 20:26] asudbury commented on #160
and the typo was deliberate :-)

[2015-02-13 20:27] Michael-DST commented on #160
LOL!  Well I tried to fix it, but couldn't find it.  But my PR does find the other one I found. :)

[2015-02-13 20:29] Michael-DST commented on #159
It was a facetious statement. And I officially regret saying it now. :P

[2015-02-13 20:29] asudbury commented on #160
typo fixed will be available in the next release (if I can get someone to test it!)

[2015-02-13 20:31] Michael-DST commented on #160
Hey I found it, I own it. :)  Sure, just let me know whenever you have the new .msi and I will check it out for you.

[2015-02-13 20:33] asudbury commented on #160
the new msi contains the Xamarin forms and mvvmcross integration  - its a work in progress and I think you will find too many issues for me to cope with :-(

[2015-02-13 20:36] Michael-DST commented on #160
Right I believe I checked it out this morning and added to an open issue around this.  It's a process!

[2015-02-13 20:54] asudbury commented on #160
version 3.3.2 with your requested changes

https://dl.dropboxusercontent.com/u/3181019/NinjaCoderForMvxXamarinFormsInstaller.msi

[2015-02-13 20:58] Michael-DST commented on #160
SUCCESS!!!

https://www.dropbox.com/s/vwv9kpb25merwsv/Screenshot%202015-02-13%2015.58.31.png?dl=0

[2015-02-13 20:58] #160 closed

[2015-02-13 21:06] asudbury commented on #159
if you can help with some info regarding xunit support I will take a look at adding it (xunit is a bit new to me!)

[2015-02-14 22:43] Michael-DST commented on #159
Yes I would actually like to get this working w/ your extension.  I am currently working on a Xamarin.Forms project that is going to take a week or so.  Next step is to investigate MvvmCross+XF with your extension. :)  Once I have that figured out I will be in a great spot to help out, as I will be needing to build unit tests around what I write. :P

If you want something to check out in the meant

[2015-02-15 10:47] asudbury commented on #159
Interesting.

I will start working on it today.

Sent from my iPhone

[2015-02-17 20:26] asudbury opened #162 "Add AutoFixture to Available nuget packages"
Add to server side config file - so will be available in current release.

[2015-02-17 20:26] asudbury commented on #162
Added - now available.

[2015-02-17 20:26] #162 closed

[2015-02-18 01:11] Michael-DST commented on #162
Awesome!  Thanks dude. :)

[2015-02-18 18:39] asudbury commented on #159
this work has now been completed (I think) - will go out in next public release.

[2015-02-18 18:44] Michael-DST commented on #159
Awesome!!!  Thank you for your efforts :D

[2015-02-19 17:34] asudbury commented on #159
Released in version 3.4.0

[2015-02-19 17:34] #159 closed

[2015-02-19 17:35] asudbury commented on #157
Released in version 3.4.0

[2015-02-19 17:35] #157 closed

[2015-03-02 14:41] MobiliTips commented on #158
Same here.
It's just that, after creating a project from scratch with MVVMCross + Xamarin Forms option on Ninja Coder 3.4 and then just start the application, it stuck on the clock screen.
Everything's fine with Andoir and iOS.
Maybe the Windows phone presenter is missing some lines like ones here: https://github.com/MarcosCobena/Xam.Forms.Mvx/blob/master/Movies/Movies.WinPhone/MvxFormsPhoneViewPr

[2015-03-02 16:15] asudbury commented on #158
will look into it - hopefully just an update to one of the nuget packages.

[2015-03-02 16:52] asudbury commented on #158
if you add the following line below this.navigationPage = new NavigationPage(page); does it now work?

this.RootFrame.Navigate(new Uri("/MainPage.xaml", UriKind.Relative));

[2015-03-03 11:08] MobiliTips commented on #158
I get this error: No XAML was found at the location '/MainPage.xaml'
Same error with a clean MVVMCross blank project plus the cheesebaron FormsPresenters mvx plugin https://github.com/Cheesebaron/Cheesebaron.MvxPlugins/tree/master/FormsPresenters
So I think it should be my implementation of it.
No problem by your side?
Keep searching...

[2015-03-03 13:13] MobiliTips commented on #158
Ok it's the MainPage.xaml build action property set to None after Ninja project creation.
So 2 things to do:
. add this.RootFrame.Navigate(new Uri("/MainPage.xaml", UriKind.Relative)); after this.navigationPage = new NavigationPage(page);
. ensure that MainPage.xaml build action property is set to Page
Now the MainView is displayed but as an empty black screen, keep digging...

[2015-03-04 14:31] asudbury commented on #158
thanks for the info - looking into it now.

[2015-03-09 16:08] MobiliTips commented on #158
Well I with this implementation I was stuck by a dependency injection error:
.No possibility to inject service interfaces into viewmodel constructors at all
.Mvx.Resolve<T>() works only on Android and Windows Phone viewmodels
This was due to service resolution between the Forms project to the Core project as if I put views into the Core project, injection works great.
Anyway, you'll find this work

[2015-03-09 16:43] asudbury commented on #158
Sounds like it could be a linker error.

Sent from my iPhone

[2015-03-13 18:15] MobiliTips commented on #158
Ok get it!
It was binding context into xaml view witch make it throw a constructor error. I removed xaml binding and let the presenter do it after Page creation.
Also I made some code refactoring like generic presenter abstract class, now all is working and code is updated at: https://github.com/MobiliTips/NinjaMvxForms
I'll probably fork your project soon to apply my updates and pull if you want.

[2015-03-13 19:16] asudbury commented on #158
Sounds great - thanks

Sent from my iPhone

[2015-03-19 19:39] asudbury commented on #158
ready to start looking at this.  @MobiliTips any chance you can resummarise when the problems are with the current Ninja. I want to try and stay close to my original design if possible,

If that still doesn't work ill like to understand what it means to change the design. My aim was to try and keep Xamarin.Forms and MvvmCross in seperate projects at the PCL/core level.

As i understand Android and

[2015-03-20 10:44] MobiliTips commented on #158
Ok let’s resume :

*        Create an MvvmCross + Xamarin Forms project for Android, iOS and Windows Phone thanks to Ninja and without any plugin.

*        Bugs :

o   Android :

*  Stucks on black screen (empty view). I think the problem comes from XF initialization on MainActivity.cs

o   iOS :

*  Stucks on error « Could not find view for MainViewModel » from the AppDelegate startup.Start() ;

[2015-03-20 15:53] MobiliTips commented on #158
Oups, I followed the discussion on pull thread https://github.com/asudbury/NinjaCoderForMvvmCross/pull/163

[2015-03-22 12:32] asudbury opened #164 "Allow Pre-Release Ninja Coder nuget packages"
Need the ability to test pre-release ninja nuget packages.

[2015-03-22 19:42] asudbury commented on #158
Hi @MobiliTips - did you change 2 nuget packages - these:-

Scorchio.NinjaCoder.MvvmCross.Xamarin.Forms.Core

Scorchio.NinjaCoder.MvvmCross.Xamarin.Forms

[2015-03-23 08:43] MobiliTips commented on #158
Yes I did change both of .nuspec files to deal with new .cs.pp files and I upgraded both version number (forgeting the pre-release flag -beta1 by the way). Normaly, it should be ready to go.

[2015-03-23 18:35] asudbury commented on #158
Should get this all sorted tomorrow - have updated ninja to support pre release ninja nuget packages just need to upload new packages and see if it works :-)

Sent from my iPhone

[2015-03-24 20:21] asudbury commented on #164
new installer to support pre release ninja nuget packages available here

https://dl.dropboxusercontent.com/u/3181019/NinjaCoderForMvxXamarinFormsInstaller.msi

still working on the nuget packages.

[2015-03-24 20:48] asudbury commented on #158
@MobiliTips

Im trying to understand the XamarinFormsApp class in the nuget package Scorchio.NinjaCoder.MvvmCross.Xamarin.Forms.

This seems to be a new version of App class in the nuget package Scorchio.NinjaCoder.Xamarin.Forms.

can we use your new XamarinFormsApp  class in Scorchio.NinjaCoder.Xamarin.Forms.and remove App class. (and also remove XamarinFormsApp  from Scorchio.NinjaCoder.MvvmCros

[2015-03-24 22:00] MobiliTips commented on #158
Yes definitly!
I called it XamarinFormsApp in case user wan't to merge Forms and Core project as Core project already host an App class but inherited from MvxApplication. Preventing from potential conflict.
Like so, I found it easyer to know witch App we are talking about (MvxApplication vs Xamarin.Forms.App).
So yes we can use the new XamarinFormsApp class.
Nice job for your pre-release Ninja ver

[2015-03-26 19:33] asudbury commented on #158
im taking DebugTrace out of the solution for now  we can put it back in a future release (DebugTrace doesn't appear to part of nuget or the solution at present)

[2015-03-26 22:02] MobiliTips commented on #158
Ok no pb. Don't forget to remove references from setup.cs

Envoyé depuis un mobile Samsung.

<div>-------- Message d'origine --------</div><div>De : asudbury <notifications@github.com> </div><div>Date :26/03/2015  20:33  (GMT+01:00) </div><div>A : asudbury/NinjaCoderForMvvmCross <NinjaCoderForMvvmCross@noreply.github.com> </div><div>Cc : Jeremy BRUN-PICARD <mobilitips@hotmail.com> </div><div>Objet

[2015-03-26 22:06] asudbury commented on #158
still got some problems! - can check out the pre release version?

[2015-03-26 22:31] MobiliTips commented on #158
Will take a look tomorrow.

Envoyé depuis un mobile Samsung.

<div>-------- Message d'origine --------</div><div>De : asudbury <notifications@github.com> </div><div>Date :26/03/2015  23:06  (GMT+01:00) </div><div>A : asudbury/NinjaCoderForMvvmCross <NinjaCoderForMvvmCross@noreply.github.com> </div><div>Cc : Jeremy BRUN-PICARD <mobilitips@hotmail.com> </div><div>Objet : Re: [NinjaCoderForMvvmCross]

[2015-03-27 06:47] asudbury commented on #158
Getting this error - which i think is because we are trying to install this nuget package to a project that doesnt have any related content any more - will have a look later.

Install-Package : Could not install package 'Scorchio.NinjaCoder.Xamarin.Forms 1.0.12-beta1'. You are trying to install
this package into a project that targets 'portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10

[2015-03-27 09:27] MobiliTips commented on #158
Yes you're right.

1. We're trying to add Scorchio.NinjaCoder.Xamarin.Forms 1.0.12-beta1 reference to the Forms project but it doesn't contains any related files.
As XamarinFormsApp.cs class file is needed by MvxForms projects but could also be usefull for Forms only projects, we can move XamarinFormsApp.cs.pp referencing line from Scorchio.NinjaCoder.MvvmCross.Xamarin.Forms.nuspec to Scorchio.Nin

[2015-03-27 10:50] asudbury commented on #158
Sounds like we may need a build to fix this - don't think we will get it resolved with just nuget changes.

Sent from my iPhone

[2015-03-27 18:29] asudbury commented on #158
How about i put in a dummy file into the Forms project - something like a ninjacoder,txt  with a new build i can not add it but anyone using the current build are just going to get an extra text file.

[2015-03-27 18:32] #164 closed

[2015-03-27 18:59] asudbury opened #165 "Support for Xamarin.Forms for Windows"
Currently im preview only at the moment

[2015-03-28 08:46] MobiliTips commented on #158
Ok let's resume about MvxForms.

* Forms nuget install shouldn't be a problem anymore with last commit (just moved XamarinFormsApp.cs.pp). We have to refresh the nuget package for it.
* Android works ok
* Windows Phone works ok. Well, normaly the MainPage.xaml build action should be set automaticaly to Page without need to do anything about it (as it is when I install my plugin MvxForms, nothings

[2015-03-28 08:53] asudbury commented on #158
If you commit your changes I'll pick up after

Sent from my iPhone

[2015-03-28 10:04] MobiliTips commented on #158
Ok done!
As we said, on NuSpec/MvvmCross/iOSContent/
* Setup constructor now requires UIWindow as parameter
* AppDelegate content switched with Main content
* AppDelegate now init Setup with a UIWindow instance

I did not change/upgrade the Scorchio.NinjaCoder.MvvmCross nuspec version, may be we should push it as pre-release to.
The same for Scorchio.NinjaCoder.MvvmCross.Xamarin.Forms.

[2015-03-28 11:34] asudbury commented on #158
ok pulled your changes can you just list for me below the nuget packages i need to reissue please.

Ive done Scorchio.NinjaCoder.Xamarin.Forms what others do i need to do?

[2015-03-28 11:58] MobiliTips commented on #158
Ok, here's the list:
* Scorchio.NinjaCoder.Xamarin.Forms because of the XamarinFormsApp.cs.pp reference add (you've done this one)
* Scorchio.NinjaCoder.MvvmCross.Xamarin.Forms because of the XamarinFormsApp.cs.pp reference removal
* Scorchio.NinjaCoder.MvvmCross because of Setup.cs.pp, AppDelegate.cs.pp and Main.cs.pp files content change

Then we should be close to our goal (hope so :) )

By the

[2015-03-28 12:34] asudbury commented on #158
I like your idea of a beta branch.

Give me 10 minutes and I will have the nuget packages released.

Sent from my iPhone

[2015-03-28 12:50] asudbury commented on #158
nuget updated.

now thinking about MainPage.xaml build action should be set automaticaly to Page.

I think will update the studio template and create new installer.

[2015-03-28 13:43] MobiliTips commented on #158
Just tried MvxForms creation with Ninja pre-release.

Well, we're close to but not yet done! :)

* iOS: original AppDelegate.cs from NuSpec/MvvmCros/iOSContent/ wich is the one we need in a MvxForms iOS project is logicaly overrided by the NuSpec/XamarinForms/iOSContent/ one but this one isn't adapted to our MvxForms project. I suggest I copy NuSpec/MvvmCross/iOSContent/AppDelegate.cs to NuSpec/Mv

[2015-03-28 13:49] MobiliTips commented on #158
AppDelegate problem fixed and commited.
You'll need to reissue (again) Scorchio.NinjaCoder.MvvmCross.Xamarin.Forms.

[2015-03-28 14:05] asudbury commented on #158
Why whats wrong with it - i did reissue it?

[2015-03-28 14:16] MobiliTips commented on #158
We need to upgrade this nuget package because it now includes AppDelegate.cs.pp. This is due to get the mvvmcross version of AppDelegate and not the forms one.
During the install process, first the mvvmcross pkg add the good appdelegate version, secondly the xamarinforms pkg override it with its own version but incompatible with mvxforms. So now with the thirdly install of mvvmcrossandxamarinforms

[2015-03-28 14:24] asudbury commented on #158
another version uploaded to nuget.

[2015-03-28 19:25] MobiliTips commented on #158
Tried again with last nuget and it's a pleasure to confirm that iOS works great!! :D

I noticed something (I wonder why I didn't before) about Droid. Splash screen resources files are missing from MvvmCross nuspec resulting in a missing file error message on build.
I added both splashstyle.xml and splash.png and now it works great! :D

Also,on WinPhone, MainPage.xaml.cs was referencing the old pre

[2015-03-28 19:26] asudbury commented on #158
so if i do a pull and reissue the nuget packages we are looking good :-)

[2015-03-28 19:36] asudbury commented on #158
some how i need to give you access to the nuget packages - can i do that?

[2015-03-30 09:59] MobiliTips commented on #158
Well, yes you can but I think it's important that you keep ownership on publishing as it's your project and only one person with publish rights help managing package versions. But if you want to, you can.

Just tell me if you want to reissue last 2 pkgs by your self or if you want me to do it. If so, I'll need the publishing nuget key (use mail or private messaging on twitter)

By the way, as Main

[2015-03-30 10:10] asudbury commented on #158
Will take a look later - had a busy weekend doing other things.

Sent from my iPhone

[2015-03-30 17:19] asudbury commented on #158
i cant see Droid splash screen files add to to the nuspec file •Scorchio.NinjaCoder.MvvmCross.

[2015-03-30 18:19] MobiliTips commented on #158
Done!

[2015-03-30 18:28] asudbury commented on #158
hopefully ive updated both nuget packages correctly -  if you would like try and let me know - thanks again.

[2015-03-31 06:14] MobiliTips commented on #158
Hum... don't know what happened but packages contain strange files. Seems to be old packages but well named beta-x. Should have a look on it cause nuspec files look good.

Envoyé depuis un mobile Samsung.

<div>-------- Message d'origine --------</div><div>De : asudbury <notifications@github.com> </div><div>Date :30/03/2015  20:28  (GMT+01:00) </div><div>A : asudbury/NinjaCoderForMvvmCross <NinjaC

[2015-03-31 07:04] asudbury commented on #158
Oh!!

I seem to be making really hard work of generating these nuget packages :-(

Sent from my iPhone

[2015-03-31 18:06] asudbury opened #166 "Change MainPage.xaml for WindowsPhone templates"
Cahnge MainPage.xaml to have a build action of page and the MainPage.xaml.cs to have a build action of compile

[2015-03-31 18:22] asudbury commented on #166
private download available here with the changes

https://dl.dropboxusercontent.com/u/3181019/NinjaCoderForMvxXamarinFormsInstaller.msi

[2015-04-08 11:48] MobiliTips commented on #166
Back to dev life and just tried last version:
* iOS ok :)
* WinPhone ok :)
* Droid: SplashScreen files still left. Wonder why as I can see both included into the MvvmCross nuspec file... When both files manualy added, droid works great to :)
* Forms: We should add <Label Text="{Binding SampleText}" HorizontalOptions="Center" VerticalOptions="Center"></Label> into the content view of the MainView.x

[2015-04-08 11:56] MobiliTips commented on #166
Ok I get it for Droid:
You have to target the Scorchio.NinjaCoder.MvvmCross.1.0.1 nuget package to Xamarin.iOS10 and MonoAndroid as it contains droid splash screen files.
For now it only target Xamarin.iOS10.

[2015-04-08 12:16] asudbury commented on #166
Thanks close the current and create a new one - will take a look later if you don't beat me to it :-)

Sent from my iPhone

[2015-04-11 09:16] #166 closed

[2015-04-11 09:18] MobiliTips opened #167 "Add SplashScreen files to Android projects"
Files already added.
Just target the Scorchio.NinjaCoder.MvvmCross.1.0.1 nuget package to Xamarin.iOS10 and MonoAndroid as it contains droid splash screen files.
For now it only target Xamarin.iOS10

[2015-04-11 09:39] MobiliTips commented on #165
I'm currently working on NuSpec files for WinPhone & WinStore 8.1.
As XF packages are still on preview at the moment, if user check WinStore or/and WinPhone 8.1 project checkboxes on Ninja, it should automaticaly check "Use Nuget pre-release..." and probably "Use Ninja pre-release...".

For this purpose, I was wondering if it would be more consistent to reorder Ninja screens like that:

1. Framewo

[2015-04-11 10:41] asudbury commented on #167
is this the correct files (i havent actually changed anything)

      <file src="DroidContent\Resources\Drawable\splash.png" target="content\MonoAndroid\Resources\Drawable\splash.png" />
      <file src="DroidContent\Resources\Values\SplashStyle.xml" target="content\MonoAndroid\Resources\Values\SplashStyle.xml" />

		<file src="iOSContent\AppDelegate.cs.pp" target="content\Xamarin.iOS10\AppDelegat

[2015-04-11 11:56] MobiliTips commented on #167
Yes it is

Envoyé depuis un mobile Samsung.

<div>-------- Message d'origine --------</div><div>De : asudbury <notifications@github.com> </div><div>Date :11/04/2015  12:41  (GMT+01:00) </div><div>A : asudbury/NinjaCoderForMvvmCross <NinjaCoderForMvvmCross@noreply.github.com> </div><div>Cc : Jeremy BRUN-PICARD <mobilitips@hotmail.com> </div><div>Objet : Re: [NinjaCoderForMvvmCross] Add SplashScreen

[2015-04-11 12:01] asudbury commented on #167
new version (1.0.1.beta4) uploaded to nuget to include Droid content.

[2015-04-12 16:56] asudbury commented on #167
did 1.0.1 beta 4 fix things?

[2015-04-12 17:35] MobiliTips commented on #167
I'll give a try tomorrow if you don't beat me :) weather here in france was so nice this weekend so I just can't stay at home (and I have to deal with my wife :) )

Envoyé depuis un mobile Samsung.

<div>-------- Message d'origine --------</div><div>De : asudbury <notifications@github.com> </div><div>Date :12/04/2015  18:56  (GMT+01:00) </div><div>A : asudbury/NinjaCoderForMvvmCross <NinjaCoderFor

[2015-04-12 17:43] asudbury commented on #167
ok thanks - weather here in England is rubbish - but then it always is :-(

[2015-04-13 08:48] MobiliTips commented on #167
Just tested and... nothing changed :(
I mean the package Scorchio.NinjaCoder.MvvmCross.1.0.1 is not installed in the Droid project, only the iOS one. MonoDroid should be added to the package target framework

[2015-04-13 08:56] asudbury commented on #167
Oh!!

Any errors in the nuget console window?

Sent from my iPhone

[2015-04-13 09:17] MobiliTips commented on #167
Just checked the package from nuget.org with NPE and seems to be ok.
The nuget console doesn't talk about Scorchio.NinjaCoder.MvvmCross.1.0.1 installation on Droid project, only iOS.

[2015-04-13 09:29] asudbury commented on #167
Sounds like it might need a code change :-(

Sent from my iPhone

[2015-04-13 17:01] asudbury commented on #167
new installer (v3.4.3)  to reference Scorchio.NinjaCoder.MvvmCross for Android Projects.

https://dl.dropboxusercontent.com/u/3181019/NinjaCoderForMvxXamarinFormsInstaller.msi

[2015-04-14 08:35] MobiliTips commented on #167
:)))))) here we are!!
iOS, Android and WinPhone SL finaly work great almost right after ninja creation!
I said "almost" because there's one last thing I still have to do before hiting F5.
Into the Forms project, the MainView's ContentView is still empty so I had to add something like:

    <Label Text="{Binding SampleText}" HorizontalOptions="Center" VerticalOptions="Center"><\label>

We should ad

[2015-04-14 08:35] #167 closed

[2015-04-14 08:37] MobiliTips opened #168 "Add SampleText binding into MainView's ContentView"
Into the Forms project, the MainView's ContentView is still empty so I had to add something like:

    <Label Text="{Binding SampleText}" HorizontalOptions="Center" VerticalOptions="Center"><\label>

We should add this but don't really know where, I mean Nuget vs Template.

[2015-04-14 08:38] MobiliTips commented on #158
This issue is now resolved.
Closed.

[2015-04-14 08:38] #158 closed

[2015-04-14 08:56] asudbury commented on #168
I'll take a look later. We are  nearly finished :-)

Sent from my iPhone

[2015-04-14 16:16] asudbury commented on #167
i have this

<?xml version="1.0" encoding="utf-8" ?>
<ContentPage x:Class="Fffffffff.Forms.Views.MainView"
             xmlns="http://xamarin.com/schemas/2014/forms"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
             xmlns:viewModels="clr-namespace:Fffffffff.Core.ViewModels;assembly=Fffffffff.Core"
             Title="MainView Page">
    <ContentPage.BindingContext>

[2015-04-14 17:59] MobiliTips commented on #168
I get it.
The problem is when user doesn't check "Bind Context in xaml" checkbox, there isn't any Label anymore in MainView.xaml.
Unchecking this checkbox should only remove the Context binding from xaml, not the Label.

Anyway, we should never bind Context into xaml if user selected MvvmCross & Xamarin.Forms. Doing so throw an exception when user try to inject a service from the ViewModel constru

[2015-04-15 06:51] asudbury commented on #168
So if I take the binding out of the xaml for BOTH Xamarin Forms only option and Xamarin Forms and MvvmCross option things should then work for both options?

Sent from my iPhone

[2015-04-15 08:51] MobiliTips commented on #168
No it won't :( sorry.
In both case we need to bind context to view so that our SampleText could appear on screen.

* With Xamarin.Forms and MvvmCross option, we let the mvx presenter manage context binding to deal with potential dependency injection into ViewModel constructor.
* With Xamarin.Forms only option, we need to bind context somewhere (into the xaml as you did or into the xaml.cs)

If you

[2015-04-15 09:48] asudbury commented on #168
So if I take out the binding in the xaml just for Xamarin forms AND MvvmCross it will work for both options.

Sent from my iPhone

[2015-04-15 09:51] MobiliTips commented on #168
Yes it will :)

De : asudbury [mailto:notifications@github.com]
Envoyé : mercredi 15 avril 2015 11:49
À : asudbury/NinjaCoderForMvvmCross
Cc : Jeremy BRUN-PICARD
Objet : Re: [NinjaCoderForMvvmCross] Add SampleText binding into MainView's ContentView (#168)

So if I take out the binding in the xaml just for Xamarin forms AND MvvmCross it will work for both options.

Sent from my iPhone

—
Reply to

[2015-04-15 17:47] asudbury commented on #168
I must admit im not sure what is the best way to solve this.

Ideally i would like the binding in xaml to work for both options but can see the constructor injection is going to fail.

I think the first thing i need to remove "Bind Context in xaml" option first and we will decide how it will be done.

[2015-04-15 18:14] MobiliTips commented on #168
Sounds good to me. Will take a look later on injection with xaml context binding (some ideas already).
After xaml binding removal, we should be good to push all in stable version (pkg + msi), well, after a final try to be sure :)
Then, if you're ok with that, I'll create a dev github branch and we'll start from here with windows store integration.

Envoyé depuis mon appareil Samsung

-------- Mess

[2015-04-18 10:24] asudbury commented on #168
new installer :-1:

https://dl.dropboxusercontent.com/u/3181019/NinjaCoderForMvxXamarinFormsInstaller.msi

[2015-04-19 10:51] asudbury commented on #168
another new installer - should fix the xaml binding issues.

https://dl.dropboxusercontent.com/u/3181019/NinjaCoderForMvxXamarinFormsInstaller.msi

not sure if all the nuget packages are correct - but lets see if it works for you first @MobiliTips

[2015-04-19 12:11] MobiliTips commented on #168
xaml binding issue fixed :)

but now you're right, some confusion with nuget packages.
It's all about Core project where CrossCore assembly is missing.
When you take a look at packages.config, there's only Scorchio.NinjaCoder.MvvmCross.Xamarin.Forms.Core installed.

[2015-04-19 14:24] asudbury commented on #168
taking a look now.

in my test project i have

<packages>
  <package id="MvvmCross.HotTuna.CrossCore" version="3.5.0" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="3.5.0" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="MvvmCross.PortableSupport" ver

[2015-04-19 14:24] asudbury commented on #168
MvvmCross.HotTuna.CrossCore" version="3.5.0" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10"
  MvvmCross.HotTuna.MvvmCrossLibraries" version="3.5.0" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10"
  MvvmCross.PortableSupport" version="3.5.0" targetFramework="portable-net45+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10"
  Scorchio.

[2015-04-19 14:27] asudbury commented on #168
and here are my nuget commands that were execute

Install-Package MvvmCross.HotTuna.MvvmCrossLibraries -FileConflictAction Overwrite -ProjectName Jjjjjjjj.Core
Install-Package Scorchio.NinjaCoder.MvvmCross.Xamarin.Forms.Core –IncludePrerelease  -FileConflictAction Overwrite -ProjectName Jjjjjjjj.Core
Install-Package Scorchio.NinjaCoder.MvvmCross.NUnit.Tests –IncludePrerelease  -FileConflictAction

[2015-04-19 14:48] asudbury commented on #168
i dont get the error you are getting - ive rebuilt the installer (version 3.4.7) - if you want to give it a go.

https://dl.dropboxusercontent.com/u/3181019/NinjaCoderForMvxXamarinFormsInstaller.msi

does the package manager console give any errors?

also checked in the code to github!

[2015-04-19 18:22] MobiliTips commented on #168
Ok now:
* Core is ok
* Forms is ok
* Droid is ok
* iOS is ok
* Windows Phone is not ok anymore :(

It seems that App.xaml.cs left some classic MvvmCross code lines for Setup initialization:

    Setup setup = new Setup(RootFrame);
    setup.Initialize();

and

    RootFrame.Dispatcher.BeginInvoke(() => Cirrious.CrossCore.Mvx.Resolve<Cirrious.MvvmCross.ViewModels.IMvxAppStart>().Start());

Don't kn

[2015-04-19 18:27] asudbury commented on #168
lol - will take a look

i must admit i've got bored with this and was on the verge of giving up :-(

i think i change the nuget packages around to fix one problem and caused another one.

thanks your help - i do think we are nearly there - i'm sure i said at least 3 times before - sorry!

[2015-04-19 18:35] asudbury commented on #168
the problem is i tried to be clever with the nuget packages and create a sort of hierarchy but it looks like that has failed!

[2015-04-20 17:51] asudbury commented on #168
@MobiliTips  - it seems to work for me - can you try again please. and post up your NnjaReadMe.txt if it doesnt work.

[2015-04-20 18:48] MobiliTips commented on #168
@asudbury Same: no Setup class initialization on WinPhone App.xaml.cs
Any msi rebuild needed?

MvvmCross and Xamarin Forms framework selected.

NinjaTest.Core project successfully added. (template MvvmCross.Core.zip)
NinjaTest.Forms project successfully added. (template NinjaCoder.Xamarin.Forms.zip)
NinjaTest.iOS project successfully added. (template NinjaCoder.iOS.zip)
NinjaTest.Droid project suc

[2015-04-20 18:50] asudbury commented on #168
if you run the following manually does it work?

Install-Package Scorchio.NinjaCoder.MvvmCross.Xamarin.Forms –IncludePrerelease -FileConflictAction Overwrite -ProjectName NinjaTest.WindowsPhone

[2015-04-20 18:56] MobiliTips commented on #168
NinjaTest.WindowsPhone already has a reference to 'Scorchio.NinjaCoder.MvvmCross.Xamarin.Forms 1.0.8-beta9'.

But App.xaml.cs still missing setup init.

De : asudbury [mailto:notifications@github.com]
Envoyé : lundi 20 avril 2015 20:51
À : asudbury/NinjaCoderForMvvmCross
Cc : Jeremy BRUN-PICARD
Objet : Re: [NinjaCoderForMvvmCross] Add SampleText binding into MainView's ContentView (#168)

if you r

[2015-04-20 19:02] asudbury commented on #168
try the update command

Update-Package –reinstall Scorchio.NinjaCoder.MvvmCross.Xamarin.Forms –IncludePrerelease -FileConflictAction Overwrite -ProjectName NinjaTest.WindowsPhone

https://docs.nuget.org/consume/reinstalling-packages

[2015-04-20 19:13] asudbury commented on #168
if you use the NPE application does the source code look correct for App.xaml.cs?

[2015-04-20 19:38] MobiliTips commented on #168
Thanks to NPE, I can see there isn’t any App.xaml.cs.pp into the wp8 content folder of Scorchio.NinjaCoder.MvvmCross.Xamarin.Forms

I don’t understand wich scorchio plugin should install mvvmcross base config files.

As far as I understood, Scorchio.NinjaCoder.MvvmCross should take care of all base MvvmCross config on each platform and then Scorchio.NinjaCoder.MvvmCross.Xamarin.Forms should take c

[2015-04-20 19:40] asudbury commented on #168
thanks - good info - i will take a look.

[2015-04-20 19:43] asudbury commented on #168
ok i think i know how to solve this :-)

but not tonight!

[2015-04-20 19:48] MobiliTips commented on #168
Lol ok no problem

Getting back to the walking dead :)

De : asudbury [mailto:notifications@github.com]
Envoyé : lundi 20 avril 2015 21:43
À : asudbury/NinjaCoderForMvvmCross
Cc : Jeremy BRUN-PICARD
Objet : Re: [NinjaCoderForMvvmCross] Add SampleText binding into MainView's ContentView (#168)

ok i think i know how to solve this :-)

but not tonight!

—
Reply to this email directly or view it on G

[2015-04-21 17:48] asudbury commented on #168
Nuget package updated - hopefully we should now be good to go :-)

[2015-04-21 18:38] MobiliTips commented on #168
Still the same pb but... I know why:

Attempting to resolve dependency 'MvvmCross.HotTuna.CrossCore (≥ 3.5.0)'.
Attempting to resolve dependency 'MvvmCross.PortableSupport (≥ 3.5.0)'.
'MvvmCross.HotTuna.MvvmCrossLibraries 3.5.0' already installed.
Adding 'MvvmCross.PortableSupport 3.5.0' to NinjaTest.WindowsPhone.
Successfully added 'MvvmCross.PortableSupport 3.5.0' to NinjaTest.WindowsPhone.
Addi

[2015-04-21 18:47] asudbury commented on #168
to be honest that's what i thought i did :-(

can you look at NPE and see what the source is saying - maybe i have the wrong source file (again!!!)

[2015-04-21 18:54] asudbury commented on #168
have committed changes to github

[2015-04-21 19:00] MobiliTips commented on #168
![ninja_mvxforms_wp](https://cloud.githubusercontent.com/assets/10962422/7260284/3e4e37fe-e869-11e4-9e3a-8d684f7788d5.png)

No App.xaml.cs.pp into wp8 content as you can see.

[2015-04-21 19:10] asudbury commented on #168
thats the wrong version - i should have created beta-91 instead of beta10

Scorchio.NinjaCoder.MvvmCross.Xamarin.Forms 1.0.8-beta91 added can you try again (and make sure you get this version)

[2015-04-21 19:22] MobiliTips commented on #168
Lol...

'Scorchio.NinjaCoder.MvvmCross.Xamarin.Forms 1.0.8-beta91' already installed.
Adding 'Scorchio.NinjaCoder.MvvmCross.Xamarin.Forms 1.0.8-beta91' to NinjaTest.WindowsPhone.
Overwrite existing file 'Setup.cs'.
Overwrite existing file 'MainPage.xaml'.
Overwrite existing file 'MainPage.xaml.cs'.
Overwrite existing file 'App.xaml'.
Overwrite existing file 'App.xaml.cs'.
Successfully added 'Scorc

[2015-04-21 19:24] asudbury commented on #168
ok ive checked into nuget - can you take a look please - im rubbish!

[2015-04-21 21:16] MobiliTips commented on #168
Ok App.xaml.cs.pp updated and checked in. You should just have to update nuget pkg

[2015-04-21 21:19] asudbury commented on #168
ok nuget updated with v92!

[2015-04-21 21:38] MobiliTips commented on #168
Woooohoooo! Here we are!
* Core ok
* Forms ok
* iOS ok
* Droid ok
* WinPhone ok

Now you can push all to stable if you want and let people know.
Nice job!
And good night :)

[2015-04-21 21:39] asudbury commented on #168
ok will sort it tomorrow - need to make sure i dont mess up!

thanks for all your help - much appreciated :-)

[2015-04-22 19:00] asudbury commented on #168
@MobiliTips

all nuget packages now public on github - them seem ok

new version of the ninja required though - installer below

https://dl.dropboxusercontent.com/u/3181019/NinjaCoderForMvxXamarinFormsInstaller.msi

i will push public once you say its ok.

[2015-04-23 10:00] MobiliTips commented on #168
Just tested all again, and:

* All MvxForms projects work great! We did a good job on it! Yeah! :)
* All Mvx only projects work great! You did a good job on it! Oh yeah! :D
* All Forms only projects first screen are empty! Damn! :(

Ok I'll dig on Forms only projects this afternoon.
We are progressing... definitly!

Keep dev faith! :p

[2015-04-23 10:41] MobiliTips commented on #168
Ok I get it about Forms only projects empty screen:

In Forms project, in XamarinFormsApp class constructor, we have to set the MainPage property to new MainView();. In a Mvx context, it is MvvmCross wich define it thanks to this.RegisterAppStart<MainViewModel>(); but without Mvx, Xamarin Forms needs to know what is the MainPage.

With that modification, iOS and Android work great but something st

[2015-04-23 11:23] MobiliTips commented on #168
Checked in.
You'll have to update both Scorchio.NinjaCoder.Xamarin.Forms and Scorchio.NinjaCoder.MvvmCross.Xamarin.Forms with its own XamarinFormsApp.cs.pp in FormsContent and App.xaml.cs.pp in WindowsPhoneContent.
Let me know when done so I could try.

[2015-04-23 17:46] asudbury commented on #168
have updated the 2 nuget packages - can you give it a go @MobiliTips

[2015-04-24 08:19] MobiliTips commented on #168
Damn! I forgot to add "using Views;" into Forms only XamarinFormsApp class so that "MainPage = new MainView();" could work.

"using" just added and checked to GitHub so you'll have to update (again...) Scorchio.NinjaCoder.Xamarin.Forms with its latest XamarinFormsApp.cs.pp version.

Sorry about that :s

[2015-04-25 14:43] MobiliTips commented on #168
It's official :D
All projects from all templates (Mvx only, Forms only and MvxForms) work great now and right after Ninja creation!
We made it!

Well, except that when you check WPF project for Mvx only, no WPF project created... but it's not really a big deal and it's not about what we were working on so long.
I'll close this issue and create a new one for WPF.

[2015-04-25 14:43] #168 closed

[2015-04-25 14:46] MobiliTips opened #169 "No WPF project created when option checked with MvvmCross only template"
No WPF project created when option checked with MvvmCross only template

[2015-04-25 14:50] MobiliTips commented on #169
Log:

ERROR NinjaMvx.Wpf not added. exception Can't find specified file (from french translation :) ). (Exception from HRESULT: 0x80070002) (template NinjaCoder.Wpf.zip)

It seems it can't find the Wpf template

[2015-04-25 16:23] asudbury commented on #169
fixed - it was a typo in the installer - will be pushing 3.5.0 public in the next hour - thanks for your help.

[2015-04-25 17:20] asudbury commented on #169
fixed in v3.5.0

[2015-04-25 17:20] #169 closed

[2015-04-25 17:22] asudbury opened #170 "VS2015 support"

[2015-04-30 00:50] powerdude opened #171 "Keyboard doesn't work after creating project"
Hi,

When creating a new solution/project, after Ninja is done, cannot use ctrl keys or functions keys, backspace, etc.

[2015-04-30 00:56] powerdude opened #172 "Xamarin.Forms project has errors in Android"
When creating a new XF only project, the Android project won't compile.  Errors are:

2>D:\code\Test\Test.Forms\XamarinFormsApp.cs(10,8,10,15): error CS0246: The type or namespace name 'Xamarin' could not be found (are you missing a using directive or an assembly reference?)
2>D:\code\Test\Test.Forms\XamarinFormsApp.cs(16,36,16,47): error CS0246: The type or namespace name 'Application' could not

[2015-04-30 01:12] powerdude commented on #172
never mind.  Maybe Resharper got in the way.  Once deactivated, things seem to be ok.

[2015-04-30 01:12] #172 closed

[2015-04-30 01:14] powerdude opened #173 "StyleCop not added to unit test projects"
I would think StyleCop should be added to all projects.

[2015-04-30 03:50] powerdude opened #174 "Xamarin.Forms nuget should be added to Xamarin.Forms test project"
The test project should be as complete as possible.  Maybe even add a reference to the Core project.

[2015-05-21 06:53] lothrop opened #175 "Unified support vor non-pre MvvmCross"
I created a new MvvmCross project and did not check the checkbox to use a prerelease version of MvvmCross. I noticed the iOS code still uses RectangleF although that was replaced by CGRect with the Unified API and MvvmCross 3.5. I don't think the old pre-Unified templates should still be in NinjaCoder.

[2015-05-24 17:27] asudbury commented on #175
have managed to recreate - looked like the SampleData item template file SampleDataView.cs is incorrect.

references to RectangleF replaced with CGRect - will be in the next release (will try and fix a few more issues first before public release)

If you require a build just for this let me know i can provide a link to a private build here.

[2015-06-12 16:40] tbalcom commented on #135
I'm using version 3.5.0 and it freezes Visual Studio 2013 for me 100% of the time when I try to use "Add ViewModel and Views".  I had a previous version before version 3.5.0, and it worked fine.  After I restart Visual Studio after the freeze I see some files were not completed.  "FirstViewModel" is referenced by the generated unit test.  I did not select the name "FirstViewModel".

Here is the lo

[2015-06-12 17:50] asudbury commented on #135
can you try it without adding the iOS and Android projects to a test solution.

Sometimes Xamarin is the cause of issues - i just want to rule it in or out.

The actual command it is getting 'stuck' on is just replacing text - this hasnt changes since the very early days.

thanks

adrian.

[2015-06-28 11:35] asudbury commented on #165
@MobiliTips I have a version of the Ninja that now supports WindowsStore 8.1 if you are interested in taking a look.

[2015-06-29 17:42] MobiliTips commented on #165
I’ll try to take a look at it maybe this weekend.

Busy times :)

De : asudbury [mailto:notifications@github.com]
Envoyé : dimanche 28 juin 2015 13:36
À : asudbury/NinjaCoderForMvvmCross
Cc : Jeremy BRUN-PICARD
Objet : Re: [NinjaCoderForMvvmCross] Support for Xamarin.Forms for Windows (#165)

@MobiliTips <https://github.com/MobiliTips>  I have a version of the Ninja that now supports WindowsStore

[2015-07-02 18:18] asudbury opened #176 "Add Xamarin Test Cloud option"
Allow people to add Xamarin Test Cloud to iOS and Android test projects

[2015-07-04 15:29] asudbury opened #177 "Reintroduce Suspend ReSharper while building option"
constantly having problems where nuget and resharper causing issues.

Put Suspend ReSharper option back in.

[2015-07-04 17:14] asudbury opened #178 "Allow adding of Xamarin Insight Nuget packages from 'Add Projects' option"
Add the option on the build screen of the Add Projects wizard.

[2015-07-06 19:59] asudbury commented on #173
I am going to add to the Add Project Wizard - i think style cop is important :-)

[2015-07-10 18:31] asudbury commented on #178
released as part of v.3.6.0

[2015-07-10 18:31] #178 closed

[2015-07-10 18:32] asudbury commented on #177
released as part of v.3.6.0

[2015-07-10 18:32] #177 closed

[2015-07-10 18:32] asudbury commented on #176
released as part of v.3.6.0

[2015-07-10 18:32] #176 closed

[2015-07-10 18:32] asudbury commented on #175
released as part of v.3.6.0

[2015-07-10 18:32] #175 closed

[2015-07-10 18:32] asudbury commented on #174
released as part of v.3.6.0

[2015-07-10 18:32] #174 closed

[2015-07-10 18:32] asudbury commented on #173
released as part of v.3.6.0

[2015-07-10 18:32] #173 closed

[2015-07-10 18:33] asudbury commented on #165
released as part of v.3.6.0 (only windows store - windows 8.1 in a future release)

[2015-07-10 18:33] #165 closed

[2015-08-24 14:19] tbalcom commented on #122
How can I remove the menu?  I uninstalled this extension via Windows 7 Control Panel and the menu remains in Visual Studio 2013.

[2015-10-16 17:29] asudbury opened #179 "Add missing UI Test projects for XF/MVX mixed solutions"
Test projects are missing from Xamarin Forms and MvvmCross mixed solution - an omission!

[2015-10-16 17:30] asudbury opened #180 "Allow creation of TestProjects Solution folder"
To allow better optional structure to large solutions - allow moving of test projects to a dedicated folder.

[2015-10-16 17:30] asudbury opened #181 "Sort out StyleCop Coding violations."

[2015-10-16 17:31] asudbury opened #182 "Show Descriptions for PCL libraries"
improve usability of adding PCL libraries

[2015-10-16 18:39] asudbury opened #183 "Support grouping of nuget packages together"
Amazon for example have a group of nuget packages - improve UI to handle this.

[2015-10-31 20:01] asudbury commented on #183
current groupings are
Authentication
Local Storage
Cloud Services

[2015-10-31 20:03] asudbury commented on #67
is now one of the nuget packages available

[2015-10-31 20:04] asudbury commented on #41
will be superseded by new nuget functionality in version 3.7.0

[2015-10-31 20:05] asudbury opened #184 "Create Samples for nuget packages"
this will build on the nuget packages and add additional code to the solution.

[2015-10-31 20:09] asudbury opened #185 "Add Projects Wizard navigation issues"
Sometimes the incorrect wizard steps are shown based on user selections (especially the previous button selection)

[2015-10-31 20:12] #120 closed

[2015-10-31 20:15] asudbury commented on #129
anyone want to discuss this and i will take a look.

[2015-10-31 20:21] asudbury commented on #171
@powerdude is this still happening - will take a look if you have some details

[2015-11-06 18:36] asudbury opened #186 "Fix api level for Android"
move api level upto API23

[2015-11-11 07:11] asudbury commented on #186
released in version 3.7.0

[2015-11-11 07:11] #186 closed

[2015-11-11 07:11] asudbury commented on #185
released in version 3.7.0

[2015-11-11 07:11] #185 closed

[2015-11-11 07:12] asudbury commented on #182
released in version 3.7.0

[2015-11-11 07:12] #182 closed

[2015-11-11 07:12] asudbury commented on #180
released in version 3.7.0

[2015-11-11 07:12] #180 closed

[2015-11-11 07:12] asudbury commented on #183
released in version 3.7.0

[2015-11-11 07:12] #183 closed

[2015-11-11 07:12] asudbury commented on #184
released in version 3.7.0

[2015-11-11 07:12] #184 closed

[2015-11-11 07:13] asudbury commented on #179
released in version 3.7.0

[2015-11-11 07:13] #179 closed

[2015-11-11 07:14] asudbury commented on #41
nuget support enhances so not required any more with version 3.7.0

[2015-11-11 07:14] #41 closed

[2015-11-11 07:14] asudbury commented on #67
released in version 3.7.0

[2015-11-11 07:14] #67 closed

[2015-12-04 19:00] asudbury opened #187 "Improve selection of Xamarin plugins"
Several new plugins available - update the list

[2015-12-04 19:33] asudbury commented on #170
I now have a version for vs2015 - needs a couple of people to test it out - any volunteers?

[2015-12-04 19:44] asudbury opened #188 "Create Vsix installer for Vs2015 version"
Vsix installers are much faster than Msi installers.

[2015-12-05 14:39] lothrop commented on #170
I'd like to give it a try.

[2015-12-05 15:47] martijn00 commented on #170
Nice! Where can i get it?

[2015-12-05 16:40] asudbury commented on #170
Im just fixing a couple of minor bugs - i will direct message you with a link to the VSIX installer - will probably be tomorrow :-)

[2015-12-06 16:38] powerdude commented on #170
i'll have a go at it too

[2015-12-06 17:26] asudbury commented on #170
Unfortunately I'm still working on ironing out a few issues!

Its not far away at all - honestly!

Ill put a link up on here to download the VSIX installer later in the week (aiming for Wednesday/Thursday).

Most of the fun has been trying to get the installer to work - i think the plugin and VS2015 does work :-)

The plan is release the VS2015 as version 4,0 in January 2016 and drop support for V

[2015-12-07 18:02] asudbury opened #189 "Support for Xamarin Forms Dependency Services"

[2015-12-07 18:02] asudbury opened #190 "Support for Xamarin Forms Custom Renderers"

[2015-12-07 21:42] lothrop opened #191 "Switch iOS template to XIB"
Now that there is a XIB designer in Xamarin Studio and Visual Studio I propose the sample code (using absolute positioning) be replaced with an example using XIBs and auto layouts. See https://github.com/lothrop/MvvmCrossDemo for an example.

[2015-12-07 22:06] asudbury commented on #191
looks good - didn't  realise this was possible - will try incorporate in v4.0 or release soon after.

[2015-12-10 19:24] asudbury commented on #170
Here is the link for the beta version of the new ninja for vs2015 - i have tested the best i can - it appears to work :-)

this release also contains the first cut of 'Add XF Dependency Service' and 'Add XF Custom Renderer'

Please provide feedback - im sure there will be issues - this has been 6 months in the making - I just hope its worth all the effort :-(

link for download below:-

https://dl

[2015-12-10 19:28] asudbury commented on #191
Does this require Xamarin 4?

I tried to include in my last build - but it complained - cant remember the error.

[2015-12-10 19:29] asudbury commented on #190
first cut release as part of beta for vs2015 support.

[2015-12-10 19:29] asudbury commented on #189
first cut release as part of beta for vs2015 support.

[2015-12-10 19:30] asudbury commented on #188
now created - what a pain!

need to fix issue where template zips are copies and not links.

[2015-12-10 19:31] asudbury commented on #129
I'm hoping this will be fixed with the move the VS2015 and VSIX installer.

[2015-12-10 19:32] asudbury commented on #122
Im hoping this will be fixed (though not for VS2013) with the version for VS2015 and the new VSIX installer.

[2015-12-11 06:01] lothrop commented on #191
It is nicer with Xamarin 4 since there is a built in XIB editor. It works with Xamarin 3, too. Clicking the XIB file then opens Interface Builder on the Mac.

[2015-12-20 21:38] asudbury commented on #170
Has anyone had a chance to do some tests?

I could do with some feedback please :-)

[2015-12-21 15:45] JeremyBP commented on #170
Hi @asudbury,

I just gave a try with no luck as it doesn't want to install with my Community version.
Logs talk about Utlimate, Pro and Premium but no Community anywhere, so install failed with VSIXInstaller.NoApplicableSKUsException.

Any chance to make it work with Community?

[2015-12-21 18:54] asudbury commented on #170
Hi @JeremyBP

I have added Community edition as option - i haven't tested it (i dont have the community edition!) - can you give a go please.

download for version 3.8.1 below:-

https://www.dropbox.com/s/8fdax01xkhk5fty/NinjaCoderMvvmCross.vsix.vsix?dl=0

[2015-12-22 02:37] WarBorg commented on #170
hello, I downloaded and will test it, may I ask is this running with the MVVMCross 4.0 betas ?

[2015-12-22 06:46] asudbury commented on #170
@WarBorg to use the beta version of MvvmCross you need to select 'Pre-Release Nuget Package Options' then 'Use Pre release MvvmCross Nuget Packages'

I think its likely to be an issue with .net framework dependency - the actual VSIX installer is still built with VS2013 - i ill give it some thought!

[2015-12-22 07:42] lothrop commented on #191
See https://github.com/MvvmCross/MvvmCross/pull/1196

[2015-12-22 13:14] PaulLeman commented on #170
@asudbury I have the same issue as @WarBorg . It failed as soon as I try to access a NinjaCoder feature, even "about". I wonder if older VS2013 installation may be the cause

[2015-12-22 16:58] asudbury commented on #170
@PaulLeman @WarBorg

installer for version 3.8,2 below:-

https://www.dropbox.com/s/8fdax01xkhk5fty/NinjaCoderMvvmCross.vsix.vsix?dl=0

can some install and just try the 'about' option and tell me if it works.

thanks

adrian.

[2015-12-22 17:05] JeremyBP commented on #170
Same error with Community :(
Just can't install it.

[2015-12-22 17:07] asudbury commented on #170
@PaulLeman can you get me a trace log please - its the View Log option on the menu (you may need to enable via the options screen)

[2015-12-22 17:09] asudbury commented on #170
@PaulLeman

if logging not working - can you try running the DbgView utility and send me the output

https://www.dropbox.com/s/51v6y6whqgfr97h/Dbgview.exe?dl=0

[2015-12-22 17:10] PaulLeman commented on #170
It does nothing when I try the "about" option.
I have the same entries in my VS ActivityLog.xml:
[code]

[2015-12-22 17:23] asudbury commented on #170
I need the ninja trace file to investigate further that will give me a better indication of where things are going wrong.

[2015-12-22 17:24] PaulLeman commented on #170
Here is the NinjaCoder related content:

[code]

Sorry for the french version...

[2015-12-22 17:26] asudbury commented on #170
@PaulLeman - thanks -that's really useful - ill take a look :-)

[2015-12-22 17:37] WarBorg commented on #170
here is also mine:

[code]

[2015-12-22 17:41] asudbury commented on #170
Looks like TinyIOC auto registration is going wrong - i really dislike these types of errors - especially when you cant recreate on your own 2 machines :-(

[2015-12-22 18:09] asudbury commented on #170
Version 3.8.3

https://www.dropbox.com/s/8fdax01xkhk5fty/NinjaCoderMvvmCross.vsix.vsix?dl=0

This wont fix the error but will hopefully give me some more information - if some one can do the 'About' options from the menu i would be grateful. If you can post the trace log please.

[2015-12-22 18:28] WarBorg commented on #170
here it is

[code]

[2015-12-22 18:30] asudbury commented on #170
thanks :-)

looks like it cant load System.Windows.Interactivity.dll

taking a look now - thanks for your help!

[2015-12-22 18:50] asudbury commented on #170
version 3.8.4

https://www.dropbox.com/s/8fdax01xkhk5fty/NinjaCoderMvvmCross.vsix.vsix?dl=0

last attempt of the day - i need to get away from this stupid computer :-)

[2015-12-22 18:56] WarBorg commented on #170
ok, I can confirm About is working for me :D I will test further, thank you

[2015-12-22 18:57] asudbury commented on #170
brilliant :-)

sorry for the hassle!

[2015-12-22 19:04] PaulLeman commented on #170
It works for me too! Thank you :)

[2015-12-22 19:09] asudbury commented on #170
if you can leave any bugs or suggestion on here that would be great

should we start a new issue on here to track them do you think - this one is getting a bit long :-)

[2015-12-22 19:39] WarBorg commented on #170
yeap, I agree we should start a new one where you can also place the link to the latest version, cheers

[2015-12-22 20:13] asudbury opened #192 "VS2015 issues and enhancements"
We seem to have successfully (at long last) got ninja working for VS2015 :-)

https://github.com/asudbury/NinjaCoderForMvvmCross/issues/170

version 3.8.4 installer

https://www.dropbox.com/s/8fdax01xkhk5fty/NinjaCoderMvvmCross.vsix.vsix?dl=0

Here we should add issues and suggested enhancements - the main goal however is to get a VS2015 version out to all those people that want one - issues and e

[2015-12-22 20:13] asudbury commented on #170
new issue created to add comments, issues and suggested enhancements

https://github.com/asudbury/NinjaCoderForMvvmCross/issues/192

[2015-12-23 10:00] SergioZgz commented on #192
I'm trying right now :) forget my tweet I will tell you any problem here :)

[2015-12-23 20:06] asudbury opened #193 "Scale back support for unit testing"
proposing only creating the test viewmodel file (at the moment)

need to simplify things if we are to move forward.

[2015-12-27 19:26] asudbury opened #194 "Remove Windows Store option"

[2015-12-30 11:18] asudbury opened #195 "MvvmCross namespace changes in Mvx v4.0"
hmm.....

not sure about that!

Its the sort of thing that you expect in the linux world :-)

that means Vs2013 Ninja will be broken when this goes public (or should i say the ability to use mvx 4.0)

to make ninja vs2015 work with these changes means i need change the project templates, item templates, text templates, nuget packages and ninja core code - plus all the testing!

with still some ite

[2015-12-30 19:01] WarBorg commented on #195
maybe make two versions of Ninja one for VS2013 and one for VS2015 like they did with productivity tools

[2015-12-30 19:48] asudbury commented on #195
@WarBorg having a vs2013 and vs2015 versions wont solve the issues!

In fact we could support both vs2013 and vs2015 it just that i am choosing not to as its more time consuming!

99% of the code is shared between vs2013 and vs2015 and its the shared 'bit' that needs to change.

things do need to break sometimes to move things forward - the proposed changes around namespaces is good and something

[2015-12-30 19:54] WarBorg commented on #195
yes I know, I have tried to keep up with them but have no seen any tutorials for some time now and I am afraid I got a little lost, practically I was basing myself on Ninja to make the setup for me because really with MVX4.0 I got a little lost on what files I need to change and what to remove and what to add,  like right now I am still struggling with their example for Xamarin Form to make it wor

[2015-12-30 20:05] asudbury commented on #195
@WarBorg

jabbr is a good place to get help with Mvx - https://jabbr.net/#/rooms/mvvmcross

though recently you don't tend to see so many people on there these days - maybe there support has moved else where.

[2015-12-30 20:07] WarBorg commented on #195
ok, I'll give it a try, thank you and I hope you will manage to get some things working next year, until then, happy holidays !!!

[2015-12-30 20:08] martijn00 commented on #195
@asudbury support has moved to Slack. If you want to join go to: https://xamarinchat.herokuapp.com/

I would love to work together to get NinjaCoder working with the upcoming 4.0 release!

@WarBorg We are working on a new website with new tutorials and samples for the MvvmCross 4.0 release.

[2015-12-30 20:21] asudbury commented on #195
hi @martijn00

you need to stop add new features to the v4.0 release - you are making it a moving target!

beta (as im sure you know) should not change the public interface just the internals.

[2015-12-30 20:37] martijn00 commented on #195
Thanks for your feedback, i appreciate it. We discussed this with the MvvmCross team a while ago, and we agree on this. We are planning to just finish 4.0 now, and from there on use a new strategy with releases. I would be happy if you join the discussion with us!

[2015-12-30 20:42] asudbury commented on #195
@martijn00 I'm happy to join in with the discussions :-)

[2015-12-30 20:45] martijn00 commented on #195
It might be good to step into the discussion at https://github.com/MvvmCross/MvvmCross/issues/1190 or even make a new issue for this. We can continue from there on.

[2015-12-30 20:53] asudbury commented on #195
that whole discussion should NEVER had made its way into version 4.0!

I don't think I would be liked if I step in add that!

from a purely selfish (ninja) point of view you should back out the namespace changes - that's just unacceptable once you hit beta - should we start a discussion on that topic?

i'm here to help - honest!!

[2016-01-03 11:07] martijn00 commented on #195
One problem for us was that we didn't want to go into beta yet, but where forced by Nuget. After an alpha9 version you can only go to beta. This problem would appear again on beta9, and we would need to make a RC1.

[2016-01-03 17:22] asudbury commented on #195
Your right! - i thought that had been implemented as part of nuget 3.x.x

Looks like nuget folks back tracked on Semantic Versioning 2.0.0 support :-(

http://blog.nuget.org/20140924/supporting-semver-2.0.0.html

[2016-01-07 18:51] asudbury opened #196 "Create vs2015 sub menu item to mvvmcross.com web page."

[2016-01-07 20:11] asudbury commented on #196
and link to Xamarin Forms web page.

[2016-01-08 18:48] asudbury opened #197 "Switch MvvmCross nuget package for pre-release"
This will allow testing of Ninja with Mvx 4.0

Current: - MvvmCross.HotTuna.MvvmCrossLibraries

Mvx 4.0 - MvvmCross.Core

http://www.mvvmcross.com/docs/upgrade-to-mvvmcross-40

[2016-01-08 19:01] asudbury commented on #197
mvvmcross beta 8 isnt on nuget at the moment.

[2016-01-21 17:03] asudbury opened #198 "Support Xamarin Forms Effects"

[2016-01-22 19:11] asudbury commented on #195
@martijn00 when is Mvx 4.0 due to get out of beta and will be generally available?

I have started making changes in prep for Mvx 4.0 - but the next set of changes depend when it will be released (i have an option to try and support Mvx 3.5.1 AND Mvx 4.0 in some way - or to ditch 3.5.1 if v4 is soon)

[2016-01-24 17:32] asudbury commented on #191
@lothrop i noticed there is also an option of using storyboards - is there an example anywhere?

i'm thinking of providing that as an option too!

[2016-01-24 17:42] lothrop commented on #191
Yes, see http://kerry.lothrop.de/ios-ui-with-mvvmcross/. Glad to see you've regained your motivation. 😊

[2016-01-24 17:49] asudbury commented on #191
@lothrop when is Mvx 4.0 due to go live?

[2016-01-24 18:38] lothrop commented on #191
@asudbury I'm guessing February.

[2016-01-29 18:42] asudbury opened #199 "Incorporate some Mvvm Helper functions"
James functions here look like a good starting point!

https://github.com/jamesmontemagno/mvvm-helpers/tree/master/MvvmHelpers

[2016-02-03 18:52] asudbury opened #200 "dont include MvxBindingAttributes.xml in nuget package"
Im assuming i no longer need to include MvxBindingAttributes.xml in nuget package as it appears to be in MvvmCross.Binding.Droid

Can anyone confirm?  @lothrop @martijn00

[2016-02-03 19:41] lothrop commented on #200
:+1:

[2016-02-03 19:42] asudbury commented on #200
thanks @lothrop

[2016-02-03 22:33] martijn00 commented on #200
Yes that is correct.

[2016-02-06 19:19] asudbury commented on #192
the new version 3.9.0 (BETA) is ready for test if anyone is interested - it also supports MvvmCross 4.0.

i don't expect it to be perfect - but i have done a lot of testing and works for me :-)

Xib and StoryBoards dont seem to be working for MvvmCross solutions -  looking for help there and im not sure i have the Android project correct for MvvmCross looking for someone to take a look for me.

Ap

[2016-02-07 16:14] lothrop commented on #192
Awesome! Is it under the same link?

[2016-02-07 16:21] asudbury commented on #192
just uploaded it (it is the same line)

https://www.dropbox.com/s/8fdax01xkhk5fty/NinjaCoderMvvmCross.vsix.vsix?dl=0

[2016-02-20 19:26] asudbury opened #201 "Support for StoryBoard for MvvmCross iOS projects"

[2016-02-20 19:27] asudbury opened #202 "Support for setting StartUp project"
Added to the Finish Screen in 'Add Projects Wizard'

[2016-02-20 20:03] asudbury commented on #192
my new version:-

i have fixed a few issues with the build action for certain projects
sorted issues with Android projects
now supports Xib view for MvvmCross iOS projects.
have attempted to support StoryBoard for MvvmCross iOS projects - but im doing something wrong as it doesnt seem to work for me - need help :-)
a few UI enhancements

[2016-02-23 18:14] asudbury opened #203 "Support Xaml Compliation for Xamarin Forms"
Default will be turned on (can switch back via options/build settings)

[2016-02-24 06:45] asudbury opened #204 "Improve the ability to remove file headers and xml comments"
Some people don't like the file formats - improve the removal of file headers and xml comments.

[2016-02-25 19:10] asudbury opened #205 "Allow the removal of .this convention"
Allows people to make the code more in keeping with their own styles.

[2016-02-25 21:29] asudbury commented on #192
really close to doing a public release - let me know if someone can help test (please)

[2016-02-25 21:38] powerdude commented on #192
i can test

[2016-02-26 06:55] SergioZgz commented on #192
I could test it too :)

[2016-02-26 08:39] lothrop commented on #191
Can this be closed?

[2016-02-26 08:58] asudbury commented on #191
Not yet - there is still a bug I need to fix - I don't I've wired up the view to the xib correctly - a also have the same issue with storyboards!

Sent from my iPhone

[2016-02-26 18:10] asudbury commented on #192
new installer below for beta version 3.9.1

https://goo.gl/zOHnn0

A couple of suggestions

To speed things up go to Options/Build and select Use Local Config and Use Local Text Templates this will read the config files from your local PC rather than fetching them from github!

Obviously using local files you wont get any updates i do to the templates on github until i republish a new version of t

[2016-02-26 18:18] asudbury opened #206 "Beta testing issues - pre version 4.0.0 release."
I thought I would create a new thread for issues.

[2016-02-26 18:21] asudbury commented on #192
Have created a new thread for any issues we find

https://github.com/asudbury/NinjaCoderForMvvmCross/issues/206

[2016-02-28 12:30] lothrop commented on #206
My first try hasn't been so successful:

[code]

[2016-02-28 12:44] asudbury commented on #206
@lothrop  hat version of Visual Studio you using?

These are the current version - supported - is yours missing?
        <InstallationTarget Id="Microsoft.VisualStudio.Ultimate" Version="[14.0]" />
        <InstallationTarget Version="[14.0)" Id="Microsoft.VisualStudio.Pro" />
        <InstallationTarget Version="[14.0)" Id="Microsoft.VisualStudio.Premium" />
        <InstallationTarget Version="[

[2016-02-28 13:10] lothrop commented on #206
Well, it does say that it found my installation of Visual Studio Professional 2015 in the logs. Strange.

[2016-02-28 13:14] lothrop commented on #206
[code]

[2016-02-28 13:15] asudbury commented on #206
The actual plugin is built with VS2013! - do you have that still installed?

[2016-02-28 13:24] asudbury commented on #206
ok im going to change the installer

From

<Dependency Id="Microsoft.Framework.NDP" DisplayName="Microsoft .NET Framework" Version="4.5" />
To

<Dependency Id="Microsoft.Framework.NDP" DisplayName="Microsoft .NET Framework" MinVersion="4.5" />

Give me a few moments to rebuild

[2016-02-28 13:27] asudbury commented on #206
Version 3.9.2 just uploaded - same location

https://dl.dropboxusercontent.com/u/3181019/NinjaCoderMvvmCross.vsix.vsix

[2016-02-28 16:33] lothrop commented on #206
@asudbury No, I never installed VS 2013 on this machine. Is the new version not aimed at VS 2015? Or do I just need VS 2013 for the installer? I still get the same message with the new installer.

[code]

[2016-02-28 16:48] asudbury commented on #206
@lothrop you shouldnt need vs2013 installed - if its thats the requirement of the installer then i have done something wrong :-(

I have take out the dependency on any framework in the installer :-)

link to version 3.9.3 below download below

https://dl.dropboxusercontent.com/u/3181019/NinjaCoderMvvmCross.vsix.vsix

if this doesnt work - then i will have to rebuild everything with vs2015 and see

[2016-02-28 17:12] lothrop commented on #206
Still no luck. 😕

[code]

Didn't people already successfully install the plugin into 2015? I found https://social.msdn.microsoft.com/Forums/vstudio/en-US/91c39d64-6d51-41a5-8fc6-bc2bef6394df/this-extension-is-not-installable-on-any-currently-installed-products?forum=vsx but haven't been able to solve the problem. If I explicitly open the vsix with the VS 2015 vsixinstaller.exe I still get the same

[2016-02-28 17:14] lothrop commented on #206
Before you go and rebuild I would like to find out if the installer works for anyone else. The problem might be on my end.

[2016-02-28 17:29] asudbury commented on #206
I have had no other feedback from anyone regarding installation which is a bit disappointing :-(

I have installed it on 3 machines but they all have vs2013 still installed.

the vsix file is just a zip file and i assumed it just did an xcopy and set up some registry settings to plugin into VS2015.

[2016-02-28 17:41] asudbury commented on #206
@lothrop spotted a potential type in the manifest file

link to version 3.9.4 below download below

https://dl.dropboxusercontent.com/u/3181019/NinjaCoderMvvmCross.vsix.vsix

last attempt to today!

[2016-02-28 18:27] lothrop commented on #206
@asudbury Ah, much better!

[2016-02-28 18:30] asudbury commented on #206
@lothrop did it actually install :-)

[2016-02-28 20:42] lothrop commented on #206
It installed, and i am deeply impressed. The number of possibilities you offer is astounding.

I haven't had much time to test. I tried iOS mostly. The startup project wasn't set to iOS as I had selected (just a minor glitch). I tried using a xib file. You're overwriting the xib's contents in the first line of `ViewDidLoad`. :wink: Actually, the line

`this.View = new UIView { BackgroundColor = UI

[2016-02-28 21:16] asudbury commented on #206
@lothrop we got there in the end :-)

raise bugs on here with details and I will try and fix

thanks for your help - as always.

[2016-02-29 06:41] asudbury commented on #206
@lothrop - so just be clear I need to take out the following line in ALL view files (hardcoded, xib and storyboard)

this.View = new UIView { BackgroundColor = UIColor.White };

[2016-02-29 07:42] lothrop commented on #206
@asudbury Right.

[2016-02-29 08:16] asudbury commented on #206
GitHub t4 templates updated.

You should see changes now if you don't have local config files enabled (by default they are not)

Sent from my iPhone

[2016-03-08 21:56] lothrop commented on #206
Tiny detail: I picked Storyboard but it created a view with a XIB.

[2016-03-09 18:03] asudbury commented on #206
@lothrop - I cant seem to recreate your issue - ill probably need your NinjaReadMe.txt and the logfile to work out what is going in.

[2016-03-10 19:38] asudbury opened #207 "investiage ReactiveUI"
looks like it works with Xamarin.forms - worth investigating!

[2016-03-17 18:58] asudbury commented on #206
@lothrop - any thoughts on what the problem is?

I want to release as soon as possible - I might need to hold back on Xib and StoryBoard support if not working.

[2016-03-27 18:12] asudbury commented on #181
quite a few sorted with latest build.

[2016-03-29 19:05] asudbury commented on #205
Released with version 4.0.0

[2016-03-29 19:05] #205 closed

[2016-03-29 19:05] asudbury commented on #204
Released with version 4.0.0

[2016-03-29 19:05] #204 closed

[2016-03-29 19:05] asudbury commented on #202
Released with version 4.0.0

[2016-03-29 19:05] #202 closed

[2016-03-29 19:05] asudbury commented on #201
Released with version 4.0.0

[2016-03-29 19:05] #201 closed

[2016-03-29 19:06] asudbury commented on #198
Released with version 4.0.0

[2016-03-29 19:06] #198 closed

[2016-03-29 19:06] asudbury commented on #200
Released with version 4.0.0

[2016-03-29 19:06] #200 closed

[2016-03-29 19:06] asudbury commented on #197
Released with version 4.0.0

[2016-03-29 19:06] #197 closed

[2016-03-29 19:06] asudbury commented on #194
Released with version 4.0.0

[2016-03-29 19:06] #194 closed

[2016-03-29 19:06] asudbury commented on #196
Released with version 4.0.0

[2016-03-29 19:06] #196 closed

[2016-03-29 19:07] asudbury commented on #192
Released with version 4.0.0

[2016-03-29 19:07] #192 closed

[2016-03-29 19:07] asudbury commented on #195
Released with version 4.0.0

[2016-03-29 19:07] #195 closed

[2016-03-29 19:07] asudbury commented on #191
Released with version 4.0.0

[2016-03-29 19:07] #191 closed

[2016-03-29 19:07] asudbury commented on #203
Released with version 4.0.0

[2016-03-29 19:07] #203 closed

[2016-03-29 19:07] asudbury commented on #190
Released with version 4.0.0

[2016-03-29 19:07] #190 closed

[2016-03-29 19:08] asudbury commented on #189
Released with version 4.0.0

[2016-03-29 19:08] #189 closed

[2016-03-29 19:08] asudbury commented on #188
Released with version 4.0.0

[2016-03-29 19:08] #188 closed

[2016-03-29 19:08] asudbury commented on #170
Released with version 4.0.0 :-)

[2016-03-29 19:08] #170 closed

[2016-03-29 19:09] asudbury commented on #206
v4.0.0 now released.

[2016-03-29 19:09] #206 closed

[2016-03-29 19:09] asudbury commented on #199
Released with version 4.0.0 (more to come!)

[2016-03-29 19:09] #199 closed

[2016-03-29 19:09] asudbury commented on #193
Done with version 4.0.0

[2016-03-29 19:09] #193 closed

[2016-03-29 19:10] #135 closed, assigned to nobody

[2016-03-29 19:11] #129 closed, assigned to nobody

[2016-03-29 19:16] asudbury commented on #122
this shouldn't happen with the new VS2015 version 4.0.0 as we have now moved to a vsix installer.

[2016-03-29 19:16] #122 closed

[2016-03-30 18:09] asudbury commented on #171
@powerdude you havent replied - so closing.

[2016-03-30 18:09] #171 closed

[2016-03-30 18:09] asudbury commented on #136
@powerdude closing as you have not replied.

[2016-03-30 18:09] #136 closed

[2016-03-31 03:03] zhu opened #208 "How to uninstall NinjaCoder 3.0 after VS2012 have uninstalled?"
I use NinjaCoder 3.0 in VS2012 previously. After I install VS2015, I uninstalled the VS2012. Then I try to uninstall NinjaCoder 3.0 but it said "This add-in requires Visual Studio 2010 or 2012 to be already installed."
How to deal with it?

[2016-04-02 19:19] agilehobo opened #209 "Setting start-up project doesn't work"
After creating the solution, the PCL project is the start-up one even I selected Android or iOS project.

It happens with version 4.0.0

[2016-04-02 19:21] agilehobo opened #210 "Android project cannot start"
After "Add Projects", the Android project cannot start as Visual Studio doesn't show any emulators.

It happens with version 4.0.0

[2016-04-03 19:15] asudbury commented on #210
this functionality just sets the startup project (as you can do in visual studio) - if the emulator is not starting correctly that is a different issue.

[2016-04-03 19:15] #210 closed

[2016-04-08 04:11] MichaelBTR opened #211 "No storyboard(s) created in iOS project when storyboard is selected as the view type"
XIB files are still being created when storyboard is the selected option for iOS

[2016-04-08 22:13] asudbury commented on #211
@MichaelBTR I'm working on version 4.1.0 which will allow the changing of project names suffixes  (and the start of support for windows universal).

I cant recreate the storyboard issue you describe if i do a private build with better logging and tracing can you retest for me and provide a trace file so i can investigate?

[2016-04-08 22:13] asudbury commented on #209
@agilehobo  I'm working on version 4.1.0 which will allow the changing of project names suffixes  (and the start of support for windows universal).

I cant recreate the startup project issue you describe if i do a private build with better logging and tracing can you retest for me and provide a trace file so i can investigate?

[2016-04-12 17:36] asudbury commented on #128
@tsahi @CliffCawley at long last I now have a version in beta that supports this request - let me know if you can help test.

[2016-04-12 22:56] CliffCawley commented on #128
@asudbury Ah sorry, I no longer use Mvvmcross (I've switched to Xamarin Forms)

[2016-04-13 05:42] asudbury commented on #128
@CliffCawley it does now support Xamarin Forms :-)

[2016-04-14 18:54] asudbury opened #212 "Create Windows Universal project templates"
Looks like nuget + project.json projects + content files is a bit of a mess!!!

Will need to create 4 vs project templates instead of using nuget to apply content files.

nuget team seem to be getting a lot of heat to fix - so maybe can revert back to nuget approach to applying content in the future (for windows universal project types)

[2016-04-14 18:57] asudbury commented on #212
have read this article and still cant get it to work!!!

http://blog.nuget.org/20160126/nuget-contentFiles-demystified.html

as people have commented its a mess! maybe time to look at bower.

[2016-04-19 00:46] MichaelBTR commented on #211
Trace attached, assuming if it's the correct file
[NinjaReadMe.txt](https://github.com/asudbury/NinjaCoderForMvvmCross/files/225039/NinjaReadMe.txt)

[2016-04-19 18:18] asudbury commented on #211
I have created a new version with better debug information.

Can you try this version (4.0.2)

https://www.dropbox.com/s/tmez26l5bz4ambs/NinjaCoderMvvmCross.vsix?dl=0

If you still have issues can you do the following (so i can see the debug info)

Clear Trace Log (ninja menu option)
Create your solution.projects
View Trace Log (ninja menu option)
Attach the Trace Log on here.

[2016-04-25 11:04] asudbury commented on #211
Any progress on this?

I will be releasing 4.1.0 in the next couple of days - would be nice to know if it will be fixed in that release.

[2016-04-25 18:50] asudbury opened #213 "Support Windows Universal projects (No Framework, Xamarin Forms and MvvmCross)"

[2016-04-25 18:51] asudbury opened #214 "Support Windows Universal projects (MvvmCross and Xamarin Forms option)"

[2016-04-25 18:51] asudbury commented on #212
have now created facility to create t4 templates on github to get round project.json and content issues.

[2016-04-25 23:24] MichaelBTR commented on #211
sorry was busy but i tried it and issue is still there. can't provide logs as they seem to empty and when i tried to open it, it says file is being used by another process

[2016-04-26 06:36] asudbury commented on #211
Can you attach the ninjareadme.txt that might give me a clue what is going on.

[2016-04-26 08:16] MichaelBTR commented on #211
[NinjaReadMe.txt](https://github.com/asudbury/NinjaCoderForMvvmCross/files/236163/NinjaReadMe.txt)

[2016-04-26 08:50] asudbury commented on #211
It thinks you selected the xib option and not storyboard looking at the readme file

[2016-04-28 19:12] asudbury commented on #214
Released in version 4.1.0

[2016-04-28 19:13] asudbury commented on #213
Released in version 4.1.0

[2016-04-28 19:13] #213 closed

[2016-04-28 19:13] asudbury commented on #212
Released in version 4.1.0

[2016-04-28 19:13] #212 closed

[2016-04-28 19:13] asudbury commented on #128
Released in version 4.1.0

[2016-04-28 19:13] #128 closed

[2016-04-28 19:14] asudbury commented on #209
@agilehobo  V4.1.0 now released can you try and see if problem still occurs?

[2016-04-29 15:18] agilehobo commented on #209
It still doesn't work.

BTW, you fixed the other issue I reported https://github.com/asudbury/NinjaCoderForMvvmCross/issues/210. The issue is not about the emulator cannot start. It's about there is no emulator appears in the drop down list to select to run.

[2016-04-29 16:51] asudbury commented on #209
@agilehobo if you try and create an android project with out using the ninja coder do you get the emulator in the dropdown? have you got the android sdk installed etc?

[2016-05-02 17:30] agilehobo commented on #209
@asudbury Yes and Yes

[2016-05-02 19:33] asudbury commented on #209
Create a repo on GitHub of our solution  and send me a link.

[2016-05-06 20:23] adamhill opened #215 "Creating New Forms Project Failed to Include MvvmCross.Core"
Had to add this to the Forms project to enable it to compile.

Running NC 4.1.0

[2016-05-07 17:15] asudbury commented on #215
Which Framework did you select? I'm assuming 'MvvmCross and Xamarin Forms'

If you post your ninjareadme.txt file ill take a look.

[2016-05-07 22:02] adamhill commented on #215
Yes. I tried the suggestion from Twitter but it failed to add the UWP project, even though it was selected in the Wizard.

Attached is the text of the error dialog that popped up, the last entries of the ActivityLog.XML and the NinjaReadMe that was created at the end. There is no UWP node for the main project, but there is a Test project for UWP in the Test directory.

I am running the latest rele

[2016-05-08 10:11] asudbury commented on #215
@adamhill It is reporing it cant find/load the project template NinjaCoder.WindowsUniversal.zip.

Can you see if the file exists on your machine?

[2016-05-09 14:27] adamhill commented on #215
I have checked in C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE in ItemTemplates and ProjectTemplate and did not see it, also looked in /My Documents\VIsual Studio 2015\Templates and didn't see it either.

Are these the correct folders for Ninja's templates?

[2016-05-09 15:53] asudbury commented on #215
@adamhill no it doesnt store them in those directories.

I think i have spotted the problem - i dont think the windows universal template is being deployed.

i have 2 choices build 4.1.1 (with just the missing template includes) or build 4.2.0 - which will be the mvvmcross and xamarin forms windows universal support.

[2016-05-09 15:59] adamhill commented on #215
I am not in a huge rush. I have become gainfully unemployed recently and am
catching up on MVVM framework advancements for Xamarin and UWP.

If you can give me quick instructions, I am more than happy to do it
manually.

 I am really liking MvvmCross, it has come along quite a bit since the
Cirrious and HotTuna days :-)

On Mon, May 9, 2016 at 10:53 AM, asudbury <notifications@github.com> wrote:

[2016-05-09 16:48] asudbury commented on #215
I think I'll do a 4.1.1 - give me an hour.

MvvmCross is excellent very well put together.

Have a look at Xamarin Forms too.

Or even better mix the two using the ninja :-)

Sent from my iPhone

[2016-05-09 16:58] asudbury opened #216 "Add missing Windows Universal Template to installer"
template appears to be missing from installer.

[2016-05-09 17:06] asudbury commented on #215
@adamhill  Actually having a closer look it looks the template is deployed - can you scan your

c:\users\YOURLOGIN\AppData\Local\Microsoft\VisualStudio\14.0\Extensions

[2016-05-10 17:23] asudbury opened #217 "Add support for Realm database"
https://realm.io/news/introducing-realm-xamarin/

[2016-05-10 17:31] benhysell opened #218 "Mvvmcross Plugins - Update to 4.x.x"
Adding a plugin for Mvvmcross, say the messenger plugin, pulls down the 3.5.x version of the plugin, and not the newer 4.x.x versions.

[2016-05-10 18:01] asudbury commented on #218
@benhysell Ive quickly updated the plugins config file - do you want to give it another try (you will probably need to restart visual studio as it will cache the config file entries)

[2016-05-10 18:04] benhysell commented on #218
Can do, where do I drop it?  I'm running your last release.

[2016-05-10 18:11] asudbury commented on #218
its hosted on GitHub - yo don't need to install anything :-)

[2016-05-10 18:13] asudbury commented on #216
on looking again this doesn't appear to be the problem - closing for now - happy to look again if more than one person report the issue.

[2016-05-10 18:13] #216 closed

[2016-05-10 18:17] benhysell commented on #218
Nice!

And done...worked like a charm.  Thanks!

[2016-05-10 18:17] #218 closed

[2016-05-10 18:18] asudbury commented on #218
glad to hear it :-)

[2016-05-14 06:52] meddyrainzo commented on #215
What did come out of this? I am also having the missing templates error when I try to create the UWP project

ERROR .WindowsUniversal not added. exception The system cannot find the file specified. (Exception from HRESULT: 0x80070002) (template NinjaCoder.WindowsUniversal.zip)

[2016-05-14 07:18] meddyrainzo commented on #215
Funny enough, I can find the NinjaCoder.WindowsUniversal.Zip in my visual studio extensions folder

[2016-05-14 08:04] asudbury commented on #215
Interesting! The installer can't be registering it as a project template!

Will take a look.

Sent from my iPhone

[2016-05-14 08:05] meddyrainzo commented on #215
Okay thank you!

[2016-05-14 12:35] asudbury commented on #215
@adamhill @meddyrainzo

I have uploaded an internal build (this will be version 4.2 to support Windows Universal and 'MvmmCross and Xamarin Forms' solutions.

Can you install and see if you problems go away.

https://www.dropbox.com/s/au0pa0s2tksfs6i/NinjaCoderMvvmCross.vsix?dl=0

[2016-05-14 12:40] meddyrainzo commented on #215
Sure thing - Give me an hour and I'll get back to you

[2016-05-14 14:13] meddyrainzo commented on #215
After trying it, it does add the file but gives the following log errors

14 May 16 16:11:24 688 ** ERROR ** Cannot add a link to the file App.xaml.cs. There is already a file of the same name in this folder.
14 May 16 16:11:24 807 ** ERROR **    at EnvDTE.ProjectItems.AddFromFile(String FileName)
   at Scorchio.VisualStudio.Extensions.ProjectExtensions.AddToFolderFromFile(Project instance, String

[2016-05-15 12:14] asudbury commented on #215
@meddyrainzo a new installer to not try and add file to project if it already exists (the error you reported above)

https://www.dropbox.com/s/73b99ysl2m49rqi/NinjaCoderMvvmCross.vsix?dl=0

[2016-05-19 07:52] asudbury commented on #215
@meddyrainzo is the issue fixed with the above build - i will be pushing it out in the couple of days.

[2016-05-19 08:53] meddyrainzo commented on #215
@asudbury sorry for the late response I was caught up with a lot of work. I have I'll try it out today by 6pm and get back to you.

Sent from my iPhone

[2016-05-19 11:59] adamhill commented on #215
I will also try today to test.

On Thu, May 19, 2016 at 3:53 AM, meddyrainzo <notifications@github.com>
wrote:

[2016-05-19 16:31] meddyrainzo commented on #215
@asudbury Everytime I try to add the projects, visual studio restarts. Waiting to hear what @adamhill gets when he tries it out

[2016-05-19 16:58] asudbury commented on #215
That's not good!!

If you can post the trace log I'll take a look.

Sent from my iPhone

[2016-05-19 17:03] meddyrainzo commented on #215
Okay give me an hour

Sent from my iPhone

[2016-05-19 18:26] meddyrainzo commented on #215
@asudbury not to sound like a noob, but how exactly do I check the trace log. Once I finish with the selection with the ninjacoder, it immediately shows the "Visual studio has stopped working dialog". Then goes to "Visual studio is restarting" and then everything restarts

[2016-05-19 18:42] asudbury commented on #215
What you need to do is the following:-

Tools\Ninja Coder for MvvmCross and Xamarin Forms\Clear Trace Log

Do the adding of projects (i assume visual studio restarts)

Tools\Ninja Coder for MvvmCross and Xamarin Forms\View Trace Log

then either add the file as an attachment here or paste in the contents of the file.

Note:- I am looking into making it easier to post trace logs!

[2016-05-19 18:44] asudbury commented on #215
@meddyrainzo also try NOT adding the Windows Universal project and see if that works.

[2016-05-19 18:47] meddyrainzo commented on #215
Okay. On it

[2016-05-19 18:57] meddyrainzo commented on #215
Okay, I don't know if this is how it is supposed to work but if you have an empty solution, upon selecting the projects and clicking next, you get a popup saying "The directory is empty please select another one". Furthermore, even with UWP unselected, visual studio still restarts. Finally, when I try to check the log file it says "the process cannot access the file because it is being used by ano

[2016-05-19 19:04] asudbury commented on #215
If you download debugview (i have provided a link below) hopefully we can see what is happening

https://www.dropbox.com/s/51v6y6whqgfr97h/Dbgview.exe?dl=0

[2016-05-19 19:14] meddyrainzo commented on #215
Here is the log file generated. It was pretty long. Hopefully I did it right. Write to confirm if I did it right
[NinjaDebug.txt](https://github.com/asudbury/NinjaCoderForMvvmCross/files/273284/NinjaDebug.txt)

[2016-05-19 19:16] asudbury commented on #215
@meddyrainzo  thats the log from debugtrace - unfortunately it doest contain and trace messages from ninja coder!

leave it with me i need to think about this a bit more - thanks for your help.

[2016-05-19 19:45] meddyrainzo commented on #215
Okay. Sorry I couldn't be of as much help

[2016-05-22 17:43] asudbury commented on #215
@adamhill   can you try the new internal build please?

https://www.dropbox.com/s/au0pa0s2tksfs6i/NinjaCoderMvvmCross.vsix?dl=0

[2016-05-22 17:48] meddyrainzo commented on #215
@adamhill I would like to try it as well. The link is broken for me

[2016-05-22 17:58] asudbury commented on #215
try this one.

https://www.dropbox.com/s/73b99ysl2m49rqi/NinjaCoderMvvmCross.vsix?dl=0

[2016-05-22 18:36] meddyrainzo commented on #215
@asudbury I got the same results as before. Please can you check the link you sent to ensure it is the latest version because when I installed it, I got an alert that I already have that version installed or something of that nature

[2016-05-23 20:05] jsbeckr opened #219 "NC always creates the standard MvvmCross project"
Hey,

it seems that NC 4.1 always creates the standard MvvmCross project no matter what you choose in the wizzard (e.g. MvvmCross + Xamarin.Forms).

NinjaReadme.txt below

---
## 23 May 16 22:00 Add Projects

Lökjkj.Core project successfully added. (template NinjaCoder.Core.zip)
Lökjkj.Droid project successfully added. (template NinjaCoder.Droid.zip)

---
## Options

MvvmCross framework selected.

[2016-05-23 20:43] asudbury commented on #219
I'm not sure I understand - what options did you select? and what did projects were created (that you didn't want!)

[2016-05-24 08:48] jsbeckr commented on #219
I selected MvvmCross + Forms and NC created the standard MvvmCross project with AXML layouts instead of XAML Layouts in the Core Project (see log from above). It didn't install any Forms specific nuget packages. I didn't see any errors.

I'm giving a workshop right now, so it might take me a while to answer. Sorry. :)

[2016-05-24 18:09] asudbury commented on #219
@jsbeckr did you have 'Xamarin Forms' project checkbox selected?

[2016-05-26 20:45] asudbury commented on #219
@jsbeckr it suggests from the trace log you selected 'MvvmCross' and not 'MvvmCross and Xamarin Forms'

Options

MvvmCross framework selected.

[2016-06-01 17:55] asudbury commented on #215
@meddyrainzo

do you want to try this version?

there is a new option - Options/Tracing/Write Trace and Error Log to NinjaReadMe.txt - if it fails check this option and then post the readme file.

https://www.dropbox.com/s/37mvsqg4rs73c7k/NinjaCoderMvvmCross.vsix?dl=0

[2016-06-01 18:01] meddyrainzo commented on #215
@asudbury, sure thing. Give me 30 minutes

[2016-06-01 18:29] meddyrainzo commented on #215
@asudbury It works for me now. Downloaded all the files. (Side note)I had to do a clean on the Universal Windows project first to get rid of the squiggly lines in the Setup.cs but it works now. Great work!

[2016-06-01 19:53] meddyrainzo commented on #215
@asudbury
UPDATE :  When using it in a solution with projects, the setup classes(for UWP) and the view classes that come with the installation seem to be off. So does the mainViewModel. It tries to access these files from a folder above the current folder and gives the "The file has either been moved or deleted" error. Using it with empty solutions however, seem to give the desired result

[2016-06-02 07:18] asudbury commented on #215
@meddyrainzo i think this issue is now fixed (but we/you need to open a new issue as described above)

closing this issue means i can than release 4.2 (and start work on the issue above)

does that sound ok?

[2016-06-02 08:12] meddyrainzo commented on #215
@asudbury sure thing on my end. I'll do that later today

[2016-06-03 17:57] asudbury commented on #219
@jsbeckr can you give me an update on this - I will close unless you report back.

[2016-06-03 18:01] asudbury commented on #209
@agilehobo I'm closing this I don't believe this is a ninja issue - no one else has reported it  - I guess its a local issue for you.

[2016-06-03 18:01] #209 closed

[2016-06-03 18:25] asudbury commented on #215
fixed in version 4.2.0

[2016-06-03 18:25] #215 closed

[2016-06-03 18:25] asudbury commented on #214
fixed in version 4.2.0

[2016-06-03 18:25] #214 closed

[2016-06-03 19:16] meddyrainzo opened #220 "Not working properly in already existing projects"
When using it in a solution with projects, the setup classes(for UWP) and the view classes that come with the installation seem to be off. So does the mainViewModel. It tries to access these files from a folder above the current folder and gives the "The file has either been moved or deleted" error. Using it with empty solutions however, seem to give the desired result.

[2016-06-20 11:45] pauldekart opened #221 "NC always uses Moq as mocking framework"
Hi,

NinjaCoder seems to have a problem with NSubstitute. Selecting it as mocking framework does not apply by creating new project. NC always use Moq instead.

Btw. great plugin!

[2016-06-27 14:54] florkl commented on #219
Hey,

I have the same problem. It totally doesn't matter whether I check "No Framework", "MvvmCross", "Xamarin Forms" or "MvvmCross and Xamarin Forms" in the "Add Projects" wizard. The created projects are always the same.
Additionally, I discovered that no changes I make in the options dialog are stored. That means I cannot give you a trace or log file since I cannot enable to create them.

[2016-06-28 06:02] florkl commented on #219
@jsbeckr hey, yesterday I didn't recognize who you are. We met at a Xamarin workshop at the end of may. Do you also still have this problem or did you find any solution in the meantime?

[2016-06-30 23:17] ananth-racherla opened #222 "Platform Test Projects not created"
Found in Visual Studio 2015 enterprise edition. I am currently running version 4.2.0 of Ninja Coder.

I did select "Create Platform tests" on the opening screen. Attached are some screenshots for reference. You will notice in the final screen that the platform test projects are missing.

Seemed to work fine on a box running Visual Studio Community Edition 2015 however.

![platformtestsspecified](h

[2016-07-19 08:02] florkl commented on #219
Hey,

it seems that during the NC installation routine, the required registry keys are not added. That's why NC does not consider most of the selections made in the wizard.
I manually added the following registry key: "HKCU.Software.Scorchio Limited.Ninja Coder for MvvmCross". After that I opened the NC settings dialog once, so the standard properties are written to the registry.
This solved the p

[2016-07-19 08:05] florkl commented on #222
Hi @ananth-racherla,
please have a look at issue #219 and my workaround. I could imagine that your problem has the same reason.

[2016-07-29 23:40] Telavian commented on #222
The workaround worked for me also.
Thanks.

[2016-07-29 23:41] Telavian commented on #219
I had the same issue and the workaround from florkl worked for me.

[2016-08-01 06:11] florkl commented on #221
Hi @pauldekart,
I could imagine that your issue has the same reason as #219 . Please have a look at my workaround.

[2016-11-27 18:07] adaxer opened #224 "Options not saved"
Hello,

I wanted to set the project suffix for the WindowsUniversal projects to UWP. So I did, but whenever I create projects or open the options again, the standard value WindowsUniversal  is shown.

I wanted to tweak this, but I cannot find the location where NinjaCoderForMvvmCross keeps this settings.

I'd appreciate very much if this is fixed, or if you can tell me the location. Thanks very mu

[2016-12-30 14:28] asudbury opened #225 "Installer not creating required registry entries"
The installer no longer create the required registry entries

CurrentUser\Software\Scorchio Limited\Ninja Coder for MvvmCross

This means all solution builds take the default settings

Ninja Coder version 4.2.1 installer below - can some one test please?

(You may have to delete the Scorchio Limited/Ninja Coder for MvvmCross subkey to test)

https://dl.dropboxusercontent.com/u/3181019/NinjaCoderMv

[2016-12-30 14:29] asudbury commented on #224
@adaxer see issue below - hopefully will solve you issue with v4.2.1

https://github.com/asudbury/NinjaCoderForMvvmCross/issues/225

[2016-12-30 14:30] asudbury commented on #222
@ananth-racherla see issue below - hopefully will solve you issue with v4.2.1

@Telavian may solve issues you were having too

https://github.com/asudbury/NinjaCoderForMvvmCross/issues/225

[2016-12-30 14:31] asudbury commented on #219
@jsbeckr - see issue 225 will hopefully solve your issue with v4.2.1

@florkl good spot my friend - hopefully v4.2.1 will solve this issue

https://github.com/asudbury/NinjaCoderForMvvmCross/issues/225

[2017-01-02 11:22] adaxer commented on #224
Hi Adrian,

indeed, the issue has gone with 4.2.1. Also the reg entry is there now. Thanks very much!
(Keep it up, by the way – the ninja coder is awesome ☺)

Best regards
Andreas

Von: Adrian Sudbury [mailto:notifications@github.com]
Gesendet: Freitag, 30. Dezember 2016 15:30
An: asudbury/NinjaCoderForMvvmCross <NinjaCoderForMvvmCross@noreply.github.com>
Cc: Andreas Daxer <info@andreas-daxer.de>;

[2017-01-02 19:47] asudbury commented on #224
Fixed in Version 4.2.1 which is now available on the Visual Studio Market Place.

https://marketplace.visualstudio.com/items?itemName=NinjaCoderforMvvmCross.NinjaCoderForMvvmCrossandXamarinForms

[2017-01-02 19:47] #224 closed

[2017-01-02 19:47] asudbury commented on #225
Fixed in Version 4.2.1 which is now available on the Visual Studio Market Place.

https://marketplace.visualstudio.com/items?itemName=NinjaCoderforMvvmCross.NinjaCoderForMvvmCrossandXamarinForms

[2017-01-02 19:47] #225 closed

[2017-01-02 19:48] asudbury commented on #222
Fixed in Version 4.2.1 which is now available on the Visual Studio Market Place.

https://marketplace.visualstudio.com/items?itemName=NinjaCoderforMvvmCross.NinjaCoderForMvvmCrossandXamarinForms

[2017-01-02 19:48] #222 closed

[2017-01-02 19:48] asudbury commented on #221
Fixed in Version 4.2.1 which is now available on the Visual Studio Market Place.

https://marketplace.visualstudio.com/items?itemName=NinjaCoderforMvvmCross.NinjaCoderForMvvmCrossandXamarinForms

[2017-01-02 19:48] #221 closed

[2017-01-02 19:48] asudbury commented on #219
Fixed in Version 4.2.1 which is now available on the Visual Studio Market Place.

https://marketplace.visualstudio.com/items?itemName=NinjaCoderforMvvmCross.NinjaCoderForMvvmCrossandXamarinForms

[2017-01-02 19:48] #219 closed

[2017-01-03 00:55] gitlsl opened #226 "Refractored.Xam.Settings can not find"
I crate a wpf project
in the ```SettingsServicecs.cs```  it can not find  ```using Refractored.Xam.Settings;```
so I change to ```using Plugin.Settings;  using Plugin.Settings.Abstractions;```  by resharper and is ok

[2017-01-03 19:56] asudbury commented on #226
@gitlsl good spot :-)

I'm guessing the namespaces must have changed at some point - i will update the nuget package to fix (doesnt require any ninja coder changes)

[2017-01-03 20:38] asudbury commented on #226
nuget package updated - should work ok now.

[2017-01-03 20:38] #226 closed

[2017-01-27 20:10] pedropete11gmail opened #227 "Windows Universal sdk version and exception 'object reference not set...'"
NC 4.2.1., WU default TargetPlatformSDK is set to 10.0.10586
Latest SDK is 10.0.14393
During project creation, generates exception, "Object reference not set to an instance of an object", when 14393 is installed (and never installed 10586):

Workaround; edit installed template file and change SDK version: ...AppData\Local\Microsoft\VisualStudio\14.0\Extensions\z1zktcou.a22\ProjectTemplates\CSharp\

[2017-01-27 20:41] asudbury commented on #227
@pedropete11 thanks for the detailed info - will look at fixing as soon as i can.

[2017-01-27 20:49] pedropete11 opened #228 "Windows Universal missing file Presenter.cs.t4"
When creating project for mvvmcross and xam forms, with Win Universal project.
Generates error (404) Not Found when WebClient.OpenRead requests file
http://raw.githubusercontent.com/asudbury/NinjaCoderForMvvmCross/master/Config/TextTemplates\ProjectTemplateItems\WindowsUniversal\MvvmCrossAndXamarinForms\Presenter.cs.t4

But in source, file is in sub-folder Presenters.

Workaround: In NC Options, B

[2017-01-27 20:51] asudbury commented on #228
thinking about it - as we now have 2 bugs ill create a new release ans
installer - are you ok to test for me?

On Fri, Jan 27, 2017 at 8:49 PM, pedropete11 <notifications@github.com>
wrote:

[2017-01-27 21:08] pedropete11 commented on #228
Yes, I'd be happy to test.

There's a work-around for the missing file issue:

Workaround: In NC Options, Build, check 'Use Local Text Template Files'

Not sure if I have all the latest, of course, but the project creation
worked.

On Fri, Jan 27, 2017 at 2:51 PM, Adrian Sudbury <notifications@github.com>
wrote:

[2017-01-27 21:16] pedropete11 opened #229 "Windows Universal Presenter rootFrame type in MvxFormsWindowsUniversalViewPresenter"
In WU - Presenters\MvxFormsWindowsUniversalViewPresenter.cs

Need to change type of rootFrame from MvxWrappedFrame to IMvxWindowsFrame because the setup.cs  override CreateViewPresenter(IMvxWindowsFrame rootFrame)

[2017-01-27 23:00] pedropete11 opened #230 "Windows Universal setup.cs assignment to self warning"
In WU - setup.cs, ctor: the line
launchActivatedEventArgs = launchActivatedEventArgs;

will generate an 'assign to self' warning and the class readonly launchActivatedEventArgs field will remain null. Then, the Init(launchActivatedEventArgs) call will generate a null exception.
A rename will fix the issue.

[2017-01-28 08:14] asudbury commented on #230
@pedropete11 can I take the readonly off the property declaration - will that fix it?

[2017-01-28 18:24] asudbury commented on #230
@pedropete11 i have change the name of the param as you suggested - doesnt need a new build as its a file hosted on github (will have roll in to the next release for the pc cached files to be updated but very few people use those!)

can you take a look please?

[2017-01-28 18:25] asudbury commented on #229
@pedropete11 done  - doesnt need a new build as its a file hosted on github (will have roll in to the next release for the pc cached files to be updated but very few people use those!)

can you take a look please?

[2017-01-28 18:25] asudbury commented on #228
@pedropete11 i have moved the file on github  doesnt need a new build as its a file hosted on github (will have roll in to the next release for the pc cached files to be updated but very few people use those!)

can you take a look please?

[2017-02-03 03:51] pedropete11 commented on #228
Yes, it works now.

On Sat, Jan 28, 2017 at 12:25 PM, Adrian Sudbury <notifications@github.com>
wrote:

[2017-02-03 03:52] pedropete11 commented on #230
Great.
I also realized that I had unchecked the option to use "this" syntax. By
leaving "this." syntax in there, it would also work.
With renaming, it will work correctly, regardless of the option setting.
Thanks!

On Sat, Jan 28, 2017 at 12:24 PM, Adrian Sudbury <notifications@github.com>
wrote:

[2017-02-03 07:31] #230 closed

[2017-02-03 07:31] #228 closed

[2017-02-03 07:31] #229 closed

[2018-04-04 11:17] benhysell opened #231 "Question - VS 2017 Support?"
Are you planning to support Visual Studio 2017?

[2018-04-05 12:57] benhysell commented on #231
Thats too bad, but thanks for all of the great work on the plugin over the years!  This was 'the' goto plugin for kicking off a new MvvmCross project.  I can't tell you how much time I saved using Ninja Coder.

[2018-04-05 12:57] #231 closed

[2019-06-17 10:52] hey333 opened #232 "Wcw"